<div class="row center-vertical">
  <div class="col-12">
    <div class="row" role="list">
      <div *ngFor="let elem of availableLanguages"
           class="col-xs-12 col-md-6 col-sm-6 col-lg-6 mb-2 available_translations"
           role="listitem">
        <button type="button"
                [id]="'translation_' + elem.tag"
                [class]="'btn btn-block ' + (i18nService.currentLanguage === elem.tag ? 'selectedLanguageButton btn-success' : 'btn-grey')"
                (click)="changeLanguage(elem.tag)"
        >{{elem.text}}
        </button>
      </div>
    </div>
  </div>
</div>
