<div class="btn-toolbar">
  <audio [id]="randomUUID"
         [loop]="loop"
         [autoplay]="autostart ? 'autoplay' : null"
         [src]="getUrl()"></audio>
  <div *ngIf="!autostart"
       class="input-group mr-5">
    <input type="range"
           [value]="volume"
           (input)="emitVolumeChange($event)">
  </div>
  <div *ngIf="!autostart"
       class="btn-group">
    <button *ngIf="!_isPlaying"
            class="btn btn-secondary"
            (click)="playMusic()">
      <fa-icon [icon]="'play'"></fa-icon>
    </button>
    <button *ngIf="_isPlaying"
            class="btn btn-secondary"
            (click)="pauseMusic()">
      <fa-icon [icon]="'pause'"></fa-icon>
    </button>
    <button class="btn btn-secondary"
            (click)="stopMusic()"
            [disabled]="isStopped()">
      <fa-icon [icon]="'stop'"></fa-icon>
    </button>
  </div>
</div>
