<p *ngIf="tags?.length"
   class="mb-4">
  <span *ngIf="tags.length > 1"><u>{{'component.voting.tags.categories' | translate}}</u>:&nbsp;</span>
  <span *ngIf="tags.length === 1">{{'component.voting.tags.category' | translate}}:&nbsp;</span>
  <ng-container *ngFor="let tag of tags; let isLast = last">
    <span>"{{tag}}"</span>
    <span *ngIf="!isLast">,&nbsp;</span>
  </ng-container>
</p>

<div [innerHTML]="sanitizeHTML(questionText)"
     class="mb-0 overflow-hidden mathjax-container"></div>

<ng-container *ngIf="answers">
  <hr/>

  <div *ngFor="let answer of answers; let i = index"
       class="mb-0 overflow-hidden mathjax-container d-flex flex-nowrap">
    <b>{{getNormalizedAnswerIndex(i)}}</b>:&nbsp;<div [innerHTML]="sanitizeHTML(answer)"></div>
  </div>
</ng-container>
