<input type="text"
       id="input-nickname"
       [placeholder]="'component.choose_nickname.enter_nickname_here' | translate"
       [attr.data-intro]="'component.choose_nickname.description.nickname_input' | translate"
       [attr.aria-label]="'component.choose_nickname.description.nickname_input' | translate"
       maxlength="20" />
<button class="btn btn-success"
        (click)="joinQuiz()"
        [innerHTML]="'component.hashtag_management.join_session' | translate"></button>
<div *ngIf="failedLoginReason"
     class="failedLogin p-5 m-5 text-center text-uppercase"
     [innerHTML]="failedLoginReason | translate"></div>
