<!--The content below is only a placeholder and can be replaced.-->
<div class="row center-vertical" id="landingPageContent">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="row">
      <div class="col-12">
        <input type="text"
               class="input-field round-corners hashtag-field text-center tabbable"
               id="hashtag-input-field"
               autocomplete="off"
               spellcheck="false"
               [value]="enteredSessionName"
               (input)="enteredSessionName = $event.target.value; parseQuiznameInput($event)"
               [placeholder]="'component.hashtag_management.enter_quiz_name' | translate"/>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-join-session">
        <button id="joinSession"
                [class]="'btn btn-success btn-block ' + (!canJoinQuiz ? 'disabled' : '')"
                [routerLink]="['/nicks']"
                [disabled]="!canJoinQuiz">
          <i class="fa fa-thumbs-up"></i>
          <span [innerHTML]="'component.hashtag_management.join_session' | translate"></span>
        </button>
      </div>
      <div class="col-6 col-create-session">
        <button id="addSession"
                [class]="'btn btn-success btn-block ' + (!canAddQuiz ? 'disabled' : '')"
                *ngIf="!canEditQuiz && !isAddingDemoQuiz && !isAddingABCDQuiz"
                (click)="setActiveQuestionGroup(['/quiz-manager'])"
                [disabled]="!canAddQuiz">
          <span [innerHTML]="'component.hashtag_management.create_session' | translate"></span>
          <i class="fa fa-edit"></i>
        </button>
        <button id="editSession"
                class="btn btn-success btn-block"
                (click)="setActiveQuestionGroup(['/quiz-manager'])"
                *ngIf="canEditQuiz">
          <span [innerHTML]="'component.hashtag_management.edit_session' | translate"></span>
          <i class="fa fa-edit"></i>
        </button>
        <button id="runDemoQuizSession"
                class="btn btn-success btn-block"
                (click)="setActiveQuestionGroup(['/quiz-lobby'])"
                *ngIf="isAddingDemoQuiz">
          <span [innerHTML]="'component.hashtag_management.create_demo_session' | translate"></span>
          <i class="fa fa-send"></i>
        </button>
        <button id="runABCDQuizSession"
                class="btn btn-success btn-block"
                (click)="setActiveQuestionGroup(['/quiz-lobby'])"
                *ngIf="isAddingABCDQuiz">
          <span [innerHTML]="'component.hashtag_management.create_abcd_session' | translate"></span>
          <i class="fa fa-send"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 text-center" id="demo-quiz-description">
    <p [innerHTML]="'component.hashtag_home.demo_quiz.title.1' | translate"></p>
    <p [innerHTML]="'component.hashtag_home.demo_quiz.title.2' | translate"></p>
    <p [innerHTML]="'component.hashtag_home.demo_quiz.title.3' | translate"></p>
  </div>
</div>
