#header {
  height: 10vh;

  .arsnova-logo {
    padding: 0;
  }

  #logo-image {
    width: 50px;

    .arsnova-logo-click {
      text-anchor: middle;
    }
  }

  .header-label {
    font-size: 1.5rem;
  }
}

.navbar-header {
  flex-direction: row;
  align-items: center;
  padding: 0;

  .header-title {
    cursor: default;
  }
}
