<div class="row justify-content-center">
  <div id="editQuestionText"
       class="col-12 col-md-6"
       [attr.data-intro]="'plugins.markdown_bar.info_content' | translate"
       [attr.aria-label]="'plugins.markdown_bar.info_content' | translate">
    <app-markdown-bar (connectorEmitter)="connector($event)"></app-markdown-bar>
    <textarea class="question-text-box textarea center-vertical"
              [title]="'component.questions.enter_question_here' | translate"
              [attr.aria-label]="'component.questions.enter_question_here' | translate"
              id="questionText"
              [placeholder]="'component.questions.enter_question_here' | translate"
              (keyup)="fireEvent($event)">
    </textarea>
  </div>
  <div class="col-12 col-md-6">
    <div class="d-flex justify-content-center mt-5 mt-md-0">
      <app-live-preview
        [targetDevice]="DEVICE_TYPE.XS"
        [targetEnvironment]="ENVIRONMENT_TYPE.QUESTION"></app-live-preview>
    </div>
  </div>
</div>
