#countdownAnimationWrapper {
  z-index: 1070;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  #countdownAnimation {
    z-index: 1080;
    position: fixed;
    top: 0;
    left: calc(50% - 150px);
    width: 100%;
    height: 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
}
