#header {
  height: 10vh;
  .arsnova-logo {
    padding: 0;
  }
  #connectionQualityHeader {
    padding: 0;
  }
  #arsnova-logo-image {
    enable-background: new 0 0 1024 1024;
    width: 50px;
    .arsnova-logo-origin {
      font-size: 200px;
      text-anchor: middle;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    .arsnova-logo-ars {
      font-size: 261px;
    }
    .arsnova-logo-nova {
      font-size: 261px;
    }
    .arsnova-logo-click {
      font-size: 400px;
      text-anchor: middle;
    }
  }

  .header-label {
    font-size: 5vmin;
  }
}

.navbar-header {
  flex-direction: row;
  align-items: center;
  padding: 0;

  .header-title {
    flex-basis: 100%;
    cursor: default;
  }
}
