<div class="d-flex flex-column"
     *ngFor="let duplicateQuiz of fileUploadService.duplicateQuizzes">
  <h4>{{'component.quiz_rename.rename' | translate:{NAME: duplicateQuiz.quizName} }}</h4>
  <button *ngFor="let renameRecommendation of duplicateQuiz.renameRecommendation"
          (click)="sendRecommendation(duplicateQuiz, renameRecommendation)"
          class="btn btn-secondary rounded p-2 my-2 rename-recommendation text-break text-left">{{renameRecommendation}}
  </button>
  <div class="mt-2">
    <p *ngIf="duplicateQuiz.renameRecommendation?.length">{{'component.quiz_rename.custom.title' | translate}}</p>
    <label class="d-block">
      <input type="text"
             class="p-2 border-0 w-100 rounded ng-touched"
             [(ngModel)]="quizName"
             (ngModelChange)="checkIsQuizNameAvailable()"
             [placeholder]="'component.quiz_rename.custom.input' | translate"/>
    </label>

    <div class="mt-4">

      <ng-container *ngIf="!isQuiznameAvailable">
        <p *ngIf="quizName.length < 4">{{'component.quiz_rename.custom.min-keys' | translate}}</p>
        <p *ngIf="isQueringQuizname">{{'component.quiz_rename.custom.please-wait' | translate}}</p>
        <ng-container *ngIf="quizName.length > 3 && !isQueringQuizname">
          <p *ngIf="isQuiznameMalformed">{{'component.quiz_rename.custom.malformed' | translate}}</p>
          <p *ngIf="!isQuiznameMalformed">{{'component.quiz_rename.custom.already-taken' | translate}}</p>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isQuiznameAvailable">
        <p>{{'component.quiz_rename.custom.available' | translate}}</p>
      </ng-container>

      <div class="mt-2">
        <button (click)="sendQuizName(duplicateQuiz)"
                [disabled]="!isQuiznameAvailable"
                class="btn btn-secondary">
          <span>{{'component.quiz_rename.custom.select-quiz' | translate}}</span>
        </button>

        <fa-icon *ngIf="isQueringQuizname"
                 [icon]="'spinner'"
                 [spin]="true"
                 class="ml-3"></fa-icon>
      </div>
    </div>
  </div>
</div>
