<div *ngFor="let elem of themesService.themes"
     class="themePreview d-flex align-items-center mb-2 flex-wrap flex-sm-nowrap cursor-pointer border"
     [class.border-secondary]="isThemeSelected(elem.id)"
     [class.border-warning]="!isThemeSelected(elem.id)"
     [id]="elem.id"
     role="listitem">
  <img [src]="getThemePreviewUrl(elem.id)"
       [alt]="elem.description | translate"
       class="imagePreviewFile"
       (click)="change(elem.id)"
       (mouseenter)="preview(elem.id)"
       (mouseleave)="restore()"
       role="img"/>
  <span class="text-light ml-sm-2"
        [id]="elem.id + '_description'"
        [innerHTML]="elem.description | translate"></span>
</div>
