<div id="countdown-header"
     class="overflow-hidden mb-3">
  <div class="pull-left">
    <i class="fa fa-users"></i>
    <span>{{'component.voting.title' | translate}}</span>
  </div>
  <div class="pull-right">
    <span>{{countdownValue}}</span>
    <i class="fa fa-hourglass"></i>
  </div>
</div>

<div id="answer-option-element-wrapper"
     class="d-flex justify-content-around align-items-center flex-wrap">
  <div *ngFor="let elem of currentQuizService.currentQuestion.answerOptionList; let i = index"
       [id]="i"
       [class]="'answer-option-element d-flex justify-content-center align-items-center rounded m-2 pointer ' + (isSelected(i) ? 'selected' : '')"
       (click)="toggleSelectAnswer(i)"
       [style.flex-basis]="currentQuizService.currentQuestion.showOneAnswerPerRow ? '100%' : getComputedWidth()">
    <p *ngIf="currentQuizService.currentQuestion.displayAnswerText"
       class="mb-0"
       [innerHTML]="elem.answerText"></p>
    <p *ngIf="!currentQuizService.currentQuestion.displayAnswerText"
       class="mb-0"
       [innerHTML]="normalizeAnswerOptionIndex(i)"></p>
  </div>
</div>
