<div class="mt-5">
  <div class="row"
       [attr.data-intro]="'component.timer.description' | translate"
       [attr.aria-label]="'component.timer.description' | translate">
    <div class="col-12"
         role="slider">
      <div id="slider"
           class="slider"></div>
    </div>
    <div class="col-12">
      <div class="input-group justify-content-center align-items-center">
        <fa-icon [icon]="'hourglass'"
                 class="text-light mr-3"></fa-icon>
        <input type="number"
               class="border-0 rounded"
               [min]="minCountdownValue"
               [title]="countdown + ('component.timer.second' | translate:{COUNT: countdown})"
               id="slider-timer-input-field"
               [value]="countdown"
               (input)="updateCountdown($event)"
               (propertyChange)="updateCountdown($event)"
               [attr.aria-valuetext]="countdown + ('component.timer.second' | translate:{COUNT: countdown})"/>
        <span class="text-center text-light ml-3">
            {{ 'component.timer.second' | translate:{COUNT: countdown} }}
          </span>
      </div>
    </div>
    <div *ngIf="countdown"
         class="col-6 offset-2">
      <p class="text-center text-light mt-4">
          <span *ngIf="plainHours"
                class="mr-2">
            <span class="mr-1">{{parsedHours}}</span>
            <span [innerHTML]="'component.timer.hour' | translate:{COUNT: plainHours}"></span>
          </span>
        <span *ngIf="plainHours || plainMinutes"
              class="mr-2">
            <span class="mr-1">{{parsedMinutes}}</span>
            <span [innerHTML]="'component.timer.minute' | translate:{COUNT: plainMinutes}"></span>
          </span>
        <span *ngIf="plainMinutes || plainSeconds">
            <span class="mr-1">{{parsedSeconds}}</span>
            <span [innerHTML]="'component.timer.second' | translate:{COUNT: plainSeconds}"></span>
          </span>
      </p>
    </div>
  </div>
</div>