@import "prebuild";

.quiz-list {
  max-height: 50vh;
  overflow-y: auto;
}

#landingPageContent {

  #collapse-quiz-name-datalist {
    right: 0;
    font-size: 2rem;
    border-top-right-radius: $border-radius !important;
  }

  #remove-quiz-name {
    left: 0;
    font-size: 1.3rem;
    border-top-left-radius: $border-radius !important;
  }

  #remove-quiz-name,
  #collapse-quiz-name-datalist {
    top: 0;
    height: 50px;
    width: 36px;
    background: rgba(0, 0, 0, 0.5);

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }

    &:active {
      background: rgba(0, 0, 0, 0.9);
    }
  }

  #name-input-field,
  #server-password-input-field {
    height: 50px;
    line-height: 20px;
  }

  .mathjax-container {
    font-size: 0.9rem;
    fill: #fff;
  }

  .header-label {
    @include media-breakpoint-down(xs) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-up(sm) {
      font-size: 2.8rem;
    }
  }
}
