<div class="row flex-column"
     id="landingPageContent">
  <div class="col-12 text-center my-5 my-sm-5"
       id="arsnova-click-description"
       *ngIf="!isShowingQuiznameDatalist">
    <h1 class="text-center header-label text-bold my-0">
      <span class="color-changing-ars logo-header-chars">a r s </span>
      <span class="color-changing-nova logo-header-chars">n o v a </span>
      <span class="color-changing-dot logo-header-dot">. </span>
      <span class="color-changing-click logo-header-chars logo-header-margin-for-dot">c l i c k</span>
    </h1>
  </div>
  <div class="col-md-10 col-lg-8 mx-auto"
       [class.mt-sm-5]="!isShowingQuiznameDatalist">
    <div class="row">
      <div class="col-12 px-1 mb-2">
        <input type="text"
               id="name-input-field"
               autocomplete="off"
               spellcheck="false"
               class="text-center w-100 border-0 input-field bg-warning"
               [class.rounded]="!isShowingQuiznameDatalist"
               [class.rounded-top]="isShowingQuiznameDatalist"
               [(value)]="enteredSessionName"
               (input)="parseQuiznameInput($event)"
               (focus)="showQuiznameDatalist()"
               [title]="'component.name_management.enter_quiz_name' | translate"
               [placeholder]="'component.name_management.enter_quiz_name' | translate"/>
        <span class="position-absolute text-light px-2 pb-1 rounded-right cursor-pointer"
              id="collapse-quiz-name-datalist"
              *ngIf="isShowingQuiznameDatalist"
              (click)="hideQuiznameDatalist()">
      <fa-icon [icon]="'caret-up'"></fa-icon>
        </span>
        <div class="list-group d-none list-group-flush"
             id="name-input-data-list">
          <span class="list-group-item list-group-item-action list-group-item-success text-capitalize cursor-pointer"
                *ngFor="let quizname of sharedService.activeQuizzes"
                (click)="autoJoinToSession(quizname)">{{'component.home.join' | translate:{name: quizname} }}</span>
          <span class="list-group-item list-group-item-action text-capitalize cursor-pointer"
                *ngFor="let quizname of ownQuizzes"
                (click)="selectQuizByList(quizname)">{{'component.home.use' | translate:{name: quizname} }}</span>
          <span class="list-group-item list-group-item-action cursor-pointer"
                (click)="selectQuizByList('Demo Quiz')">{{'component.home.new-demo-quiz' | translate}}</span>
          <span class="list-group-item list-group-item-action cursor-pointer"
                (click)="selectQuizByList('ABCD')">{{'component.home.new-abcd-quiz' | translate}}</span>
        </div>
      </div>
      <div *ngIf="passwordRequired"
           class="col-12 px-1">
        <input type="password"
               class="text-center rounded w-100 mb-2 border-0 input-field"
               id="server-password-input-field"
               autocomplete="off"
               spellcheck="false"
               (input)="setPassword($event)"
               [title]="'component.name_management.enter_server_password' | translate"
               [placeholder]="'component.name_management.enter_server_password' | translate"/>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-join-session px-1">
        <button *ngIf="!canStartQuiz"
                id="joinSession"
                class="btn btn-block text-nowrap"
                (click)="handleClick('joinSession') && joinQuiz()"
                [class.btn-secondary]="canJoinQuiz"
                [class.btn-outline-secondary]="!canJoinQuiz"
                [routerLink]="['/quiz', enteredSessionName]"
                [disabled]="!canJoinQuiz">
          <fa-icon [icon]="'thumbs-up'"></fa-icon>
          <span class="ml-1">{{'component.name_management.join_session' | translate}}</span>
        </button>
        <button *ngIf="canStartQuiz"
                id="startSession"
                class="btn btn-success btn-block text-nowrap"
                (click)="handleClick('startSession') && runQuiz(['/quiz', 'flow'])"
                [class.btn-secondary]="canStartQuiz && (!passwordRequired || serverPassword.length)"
                [class.btn-outline-secondary]="!canStartQuiz || (passwordRequired && !serverPassword.length)"
                [disabled]="!canStartQuiz || (passwordRequired && !serverPassword.length)">
          <fa-icon [icon]="'thumbs-up'"></fa-icon>
          <span class="ml-1">{{'component.name_management.start_session' | translate}}</span>
        </button>
      </div>
      <div class="col-6 col-create-session px-1">
        <button *ngIf="!canEditQuiz && !isAddingDemoQuiz && !isAddingABCDQuiz"
                id="addSession"
                class="btn btn-block text-nowrap"
                [class.btn-secondary]="canAddQuiz && connectionService.serverAvailable"
                [class.btn-outline-secondary]="!canAddQuiz || !connectionService.serverAvailable"
                (click)="handleClick('addSession') && addQuiz()"
                [disabled]="!canAddQuiz || !connectionService.serverAvailable">
          <span class="mr-1">{{'component.name_management.create_session' | translate}}</span>
          <fa-icon [icon]="'edit'"></fa-icon>
        </button>
        <button *ngIf="canEditQuiz"
                id="editSession"
                class="btn btn-secondary btn-block text-nowrap"
                (click)="handleClick('editSession') && editQuiz()">
          <span class="mr-1">{{'component.name_management.edit_session' | translate}}</span>
          <fa-icon [icon]="'edit'"></fa-icon>
        </button>
        <button *ngIf="isAddingDemoQuiz"
                id="runDemoQuizSession"
                class="btn btn-block text-nowrap"
                [class.btn-secondary]="(!passwordRequired || serverPassword.length) && connectionService.serverAvailable"
                [class.btn-outline-secondary]="(passwordRequired && !serverPassword.length) || !connectionService.serverAvailable"
                (click)="handleClick('add-demo-quiz') && runQuiz(['/quiz', 'flow'])"
                [disabled]="(passwordRequired && !serverPassword.length) || !connectionService.serverAvailable">
          <span class="mr-1">{{'component.name_management.create_demo_session' | translate}}</span>
          <fa-icon [icon]="'paper-plane'"></fa-icon>
        </button>
        <button *ngIf="isAddingABCDQuiz"
                id="runABCDQuizSession"
                class="btn btn-block text-nowrap"
                [class.btn-secondary]="(!passwordRequired || serverPassword.length) && connectionService.serverAvailable"
                [class.btn-outline-secondary]="(passwordRequired && !serverPassword.length) || !connectionService.serverAvailable"
                (click)="handleClick('add-abcd-quiz') && runQuiz(['/quiz', 'flow'])"
                [disabled]="(passwordRequired && !serverPassword.length) || !connectionService.serverAvailable">
          <span class="mr-1">{{'component.name_management.create_abcd_session' | translate}}</span>
          <fa-icon [icon]="'paper-plane'"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="hasErrors"
       class="col-12 mt-5">
    <h4 class="text-warning text-center text-bold">{{hasErrors | translate}}</h4>
  </div>
  <div class="col-12 text-center mt-5"
       *ngIf="!isShowingQuiznameDatalist"
       id="demo-quiz-description">
    <p>{{'component.name_home.demo_quiz.title.3' | translate}}</p>
    <p>
      <a *ngIf="publicQuizAmount > 0"
         [routerLink]="['/quiz', 'public']">{{'component.home.view-public' | translate:{amount: publicQuizAmount} }}
      </a>
      <a *ngIf="ownPublicQuizAmount > 0"
         [routerLink]="['/quiz', 'public', 'own']">
        <span *ngIf="publicQuizAmount > 0"><br/>{{'component.home.view-all-public' | translate}}</span>
        <span *ngIf="publicQuizAmount === 0">{{'component.home.view-own-public' | translate}}</span>
      </a>
    </p>
  </div>
  <div class="col-12 px-1 mb-5 mt-2 justify-content-center d-flex mathjax-container"
       *ngIf="!isShowingQuiznameDatalist">
    <ng-container *ngTemplateOutlet="thmschroedelCoop"></ng-container>
  </div>
</div>

<ng-template #thmschroedelCoop>
  <div class="row mt-4">
    <div class="col-12 col-sm d-flex">
      <img class="mx-auto align-self-center"
           alt="Technische Hochschule Mittelhesen"
           src="/assets/images/external/thm-logo-negativ.png"
           style="height: 70px"/>
    </div>
    <div class="col-12 col-sm d-flex">
      <h6 class="mx-auto my-4 my-sm-0 align-self-center">{{'global.in-cooperation-with' | translate}}</h6>
    </div>
    <div class="col-12 col-sm d-flex">
      <img class="mx-auto bg-white align-self-center"
           alt="Schroedel Aktuell"
           src="/assets/images/external/schroedel-aktuell.png"
           style="height: 70px"/>
    </div>
  </div>
</ng-template>

<ng-template #mathjaxExample3>
  <svg xmlns:xlink="http://www.w3.org/1999/xlink"
       height="6.176ex"
       viewBox="0 -1580.7 10538.3 2659.1"
       width="24.476ex"
       xmlns="http://www.w3.org/2000/svg">
    <defs>
      <path id="a"
            d="m-123 694q0 8 5 14t15 6q10 0 15-8t8-19 13-27 27-27q11-7 11-18 0-9-7-15t-17-10-30-19-38-40q-14-15-22-15t-14 6-6 14 11 23 23 25 13 11h-171l-171 1q-1 1-3 3t-5 3-3 5-2 8q0 7 13 20h359q-24 38-24 59z"/>
      <path id="b"
            d="m34 159q0 109 86 196t186 87q56 0 88-24t33-63q0-29-19-49t-48-21q-19 0-30 10t-11 30 11 34 22 21 14 6h1q0 2-6 6t-21 8-34 4q-30 0-57-14-21-9-43-31-44-44-64-124t-21-116q0-46 26-69 22-24 58-24h4q112 0 185 85 9 10 12 10 4 0 13-9t10-14-9-15-29-28-45-30-64-25-80-11q-75 0-121 48t-47 122z"/>
      <path id="c"
            d="m202 508q-23 0-33 12t-11 27q0 10 6 30t21 47 45 51 71 35l32 5h12q33 0 39-1 63-11 105-53t60-93 17-111q0-95-47-217t-117-187q-81-75-179-75-100 0-150 78-31 46-31 92v11q0 117 87 211t193 95q61 0 92-31t41-67l3 11q20 83 20 137 0 88-41 124t-93 37q-78 0-121-64 41-6 41-40 0-25-18-44t-44-20zm228-202q0 66-29 94t-68 28q-63 0-111-46-25-28-39-59t-33-102q-18-72-18-105 0-95 100-95 12 0 18 1 77 13 124 90 15 25 35 84t21 110z"/>
    </defs>
    <g stroke-width="0"
       transform="scale(1 -1)">
      <g transform="translate(156 -204)">
        <path d="m46 676q0 3 5 7h730q5-4 5-7 0-2-169-350t-173-352q-5-7-28-7t-28 7q-3 4-172 352t-170 350zm651-80q0 1-252 1t-252-1q2-5 126-260t126-256z"
              stroke-width="1"
              transform=""/>
        <path d="m630 29q0-20-21-20-5 0-22 16t-94 93l-104 104-105-105q-106-104-109-106-4-2-7-2-8 0-14 6t-7 14q0 7 14 22t94 95l104 104-104 104q-81 81-94 95t-14 22q0 9 6 14t15 5q5 0 7-1 3-2 109-106l105-105 104 104q77 77 94 93t22 16q21 0 21-20 0-7-10-18t-98-98l-104-105 104-105q84-84 96-97t12-19z"
              stroke-width="1"
              transform="translate(1055)"/>
        <g transform="translate(2056)">
          <path d="m720 510q0-34-16-62t-39-44-46-27-39-15l-16-3 19-3q19-3 49-14t58-30q22-20 35-36 27-41 27-87v-6q0-23-11-58-43-107-194-123-4-1-259-2h-249v62h108v562h-108v62h225 145q93 0 133-5t82-26q96-48 96-145zm-157 3q0 40-15 65t-30 33-32 11q-7 2-101 2h-92v-242h82q83 1 92 3 96 20 96 128zm27-321q0 115-85 137-1 1-2 1l-105 1h-105v-269h98 9 44q52 0 84 13t52 56q10 24 10 61z"
                stroke-width="1"
                transform=""/>
          <use x="644"
               xlink:href="#a"
               y="279"/>
        </g>
        <path d="m84 237t0 13 14 20h581q15-8 15-20t-15-20h-581q-14 7-14 20z"
              stroke-width="1"
              transform="translate(3097)"/>
        <g transform="translate(4384)">
          <path d="m0 220h620v60h-620z"/>
          <path d="m213 578-13-5q-14-5-40-10t-58-7h-19v46h19q47 2 87 15t56 24 28 22q2 3 12 3 9 0 17-6v-299l1-300q7-7 12-9t24-4 62-2h26v-46h-11q-21 3-159 3-136 0-157-3h-12v46h26q22 0 38 0t25 1 16 3 8 2 6 5 6 4z"
                stroke-width="1"
                transform="translate(60 676)"/>
          <use x="93"
               xlink:href="#b"
               y="-686"/>
        </g>
        <path d="m5411 220h1444v60h-1444z"/>
        <g transform="translate(5471 676)">
          <use xlink:href="#c"/>
          <g transform="translate(567)">
            <path d="m723 286q-2-2-23-141t-23-142v-3h-638v62h108v556h-108v62h621v-4q2-6 15-124t16-124v-4h-62v4q0 1-2 20t-9 46-17 47q-27 52-74 64t-145 13h-8-70v-234h32q2 0 11 0t14 0 15 2 16 4 15 7 14 10 11 16q10 21 11 59v19h62v-296h-62v19q-1 34-8 54t-24 29-31 11-44 4h-32v-260h71 19q35 0 55 0t48 4 44 10 36 19 32 31 23 44 19 62q10 55 10 57h62z"
                  stroke-width="1"
                  transform=""/>
            <use x="613"
                 xlink:href="#a"
                 y="273"/>
          </g>
        </g>
        <g transform="translate(5668 -736)">
          <use xlink:href="#c"/>
          <path d="m26 385q-7 7-7 10 0 4 3 16t5 14q2 5 9 5t51 1h53l19 80q3 11 7 29t7 26 6 20 8 17 10 12 14 9 18 2q18-1 25-11t7-19q0-7-9-47t-20-79l-10-37q0-2 50-2h51q7-7 7-11 0-22-13-35h-107l-36-145q-39-160-39-172 0-42 27-42 35 0 68 34t53 84q2 6 5 7t15 2h4q15 0 15-8 0-3-3-12-5-16-18-38t-34-47-51-42-61-17q-30 0-57 15t-39 52q-2 8-2 27v18l35 140q35 141 36 142 0 2-51 2z"
                stroke-width="1"
                transform="translate(567)"/>
        </g>
      </g>
      <path d="m56 347q0 13 14 20h637q15-8 15-20 0-11-14-19l-318-1h-318q-16 5-16 20zm0-194q0 15 16 20h636q14-10 14-20 0-13-15-20h-637q-14 7-14 20z"
            stroke-width="1"
            transform="translate(7409 -204)"/>
      <g transform="translate(8585 -204)">
        <path d="m0 220h1194v60h-1194z"/>
        <path d="m462 0q-18 3-129 3-116 0-134-3h-9v46h31q20 0 27 0t17 2 14 5 7 8q1 2 1 54v50h-259v46l151 231q153 232 155 233 2 2 21 2h18l6-6v-460h92v-46h-92v-51q0-41 0-48t6-12q8-7 57-8h29v-46zm-169 211v334l-219-333 109-1z"
              stroke-width="1"
              transform="translate(60 676)"/>
        <path d="m132-11q-34 0-34 33v11l13 28q75 158 109 273l8 24h-32q-38 0-54-3t-39-19q-11-7-22-18t-19-21-9-12q-2-1-15-1-19 0-19 10 0 6 19 35t55 62 71 38q7 2 225 2 160 0 164-1 20-7 20-28 0-31-32-42-6-2-69-2h-64l-3-17q-12-72-12-119 0-52 9-93t19-64 10-28q0-17-14-32t-36-15q-11 0-18 3t-16 24-16 60q-1 9-1 44 0 49 9 105t18 92 10 40h-98l-1-4q0-3-19-79t-43-161-31-97q-11-28-43-28z"
              stroke-width="1"
              transform="translate(560 676)"/>
        <use x="380"
             xlink:href="#b"
             y="-686"/>
      </g>
      <g transform="translate(9900 -204)">
        <path d="m104 610q0 39 26 62t61 23q34-2 58-25t24-60q0-38-24-61t-60-24q-37 0-61 23t-24 62zm-26-168 95 4 95 4h6v-254q0-201 0-233t-5-46q-13-49-68-83t-130-34q-61 0-101 27t-41 71q0 32 20 51t50 20q28 0 49-18t21-51q0-21-16-47h3q10-2 21-2h3q10 0 20 3t27 21 22 52q2 18 2 222v213q-1 2-3 4t-3 4-3 3-4 2-5 2-9 1-11 1-16 1h-22v62z"
              stroke-width="1"
              transform="translate(59)"/>
        <use x="470"
             xlink:href="#a"
             y="288"/>
      </g>
    </g>
  </svg>
</ng-template>
