#landingPageContent {

  #arsnova-click-description,
  .mathjax-content-container {
    color: #fff;
  }

  #hashtag-input-field,
  #server-password-input-field {
    height: 50px;
    line-height: 20px;
  }

  #demo-quiz-description {
    margin-top: 10px;
  }

  .mathjax-container {
    font-size: 0.9rem;
  }

  .header-label {
    font-size: 1.8rem;
  }
}
