@import "prebuild";

.quiz-list {
  max-height: 50vh;
  overflow-y: auto;
}

#landingPageContent {

  img {
    width: 100%;
  }

  #collapse-quiz-name-datalist {
    right: 0;
    font-size: 2rem;
    border-top-right-radius: $border-radius !important;
  }

  #remove-quiz-name {
    left: 0;
    font-size: 1.3rem;
    border-top-left-radius: $border-radius !important;
  }

  #remove-quiz-name,
  #collapse-quiz-name-datalist {
    top: 0;
    height: 50px;
    width: 36px;
    background: #f1ada0;
    color: white !important;

    &:hover, &:focus {
      background: white !important;
      color: #f1ada0 !important;
    }

  }

  #name-input-field,
  #server-password-input-field {
    height: 50px;
    line-height: 20px;
  }

  .mathjax-container {
    font-size: 0.9rem;
    fill: #fff;
  }

  .header-label {
    @include media-breakpoint-down(xs) {
      font-size: 1.7rem;
    }
    @include media-breakpoint-up(sm) {
      font-size: 2.8rem;
    }
  }
}
