<div *ngIf="tags?.length"
     class="bg-light p-3 text-primary">

  <form *ngFor="let row of formGroups; index as i, first as isFirst, last as isLast"
        [formGroup]="row"
        class="form-row">
    <div class="form-group col-md-6">
      <label *ngIf="i === 0"
             for="select-tag">{{'component.quiz-pool.select-tag.label' | translate}}</label>
      <select [ngbPopover]="'component.quiz-pool.select-tag.placeholder' | translate"
              class="form-control"
              formControlName="selectedTag"
              id="select-tag">
        <option [defaultSelected]="true"
                [value]="null"
                disabled
                hidden
                selected>{{'component.quiz-pool.select-tag.label' | translate}}</option>
        <option *ngFor="let tag of tags"
                [disabled]="isAlreadySelected(tag)"
                [value]="tag.text"
                class="text-capitalize">{{'component.quiz-pool.tag-available' | translate:{text: tag.text, weight: tag.weight} }}</option>
      </select>
    </div>

    <div class="form-group col">
      <label *ngIf="i === 0"
             for="questionAmount">{{'component.quiz-pool.tag-question-amount.label' | translate}}</label>
      <input [placeholder]="'component.quiz-pool.tag-question-amount.placeholder' | translate"
             class="form-control"
             formControlName="questionAmount"
             id="questionAmount"
             min="0"
             type="number"/>

      <ng-container *ngIf="row.get('questionAmount').invalid && (row.get('questionAmount').dirty || row.get('questionAmount').touched)">
        <div *ngIf="row.get('questionAmount').errors.required">
          <div class="invalid-tooltip d-block">{{'component.quiz-pool.tag-question-amount.validation-error.required' | translate}}</div>
        </div>

        <div *ngIf="row.get('questionAmount').errors.max">
          <div class="invalid-tooltip d-block">{{'component.quiz-pool.tag-question-amount.validation-error.max' | translate:{max: getSelectedTag(row)?.weight} }}</div>
        </div>
      </ng-container>
    </div>

    <div [style.margin-left.px]="isFirst ? 22 : 0"
         [style.margin-right.px]="i === tags.length - 1 ? 22 : 0"
         class="form-group col-auto cursor-pointer d-flex align-items-end mb-4">
      <fa-icon (click)="removeTagRow(row)"
               *ngIf="!isFirst"
               [class.mr-2]="i < tags.length - 1"
               [icon]="['fas', 'minus']"></fa-icon>
      <fa-icon (click)="addTagRow()"
               *ngIf="i < tags.length - 1"
               [icon]="['fas', 'plus']"></fa-icon>
    </div>

  </form>

  <ngb-alert (close)="displayQuestionAmountWarning = false"
             *ngIf="displayQuestionAmountWarning && questionAmount() > 0"
             [type]="'warning'">{{'component.quiz-pool.question-amount-warning' | translate:{amount: questionAmount()} }}</ngb-alert>

  <div class="d-flex">
    <button (click)="createQuiz()"
            [disabled]="isFormInValid()"
            class="btn btn-success ml-auto">
      <span>{{'component.quiz-pool.create-quiz' | translate}}</span>
    </button>
  </div>
</div>

<div [class.mt-5]="tags.length"
     class="bg-light p-3 text-primary form-row">
  <p class="form-group w-100">{{'component.quiz-pool.create-own-question.label' | translate}}</p>

  <button (click)="createQuestion()"
          class="btn btn-success ml-auto d-flex">
    <span>{{'component.quiz-pool.create-own-question.button-label' | translate}}</span>
  </button>
</div>

<div *ngIf="tags?.length"
     class='mt-5 bg-white form-row'>
  <app-word-cloud [data]="tagsForCloud"
                  class="d-block w-100"></app-word-cloud>
</div>
