<div *ngFor="let elem of attendeeService.attendees"
     [id]="elem.id"
     (click)="isOwner ? kickMember(elem.name) : return"
     [class]="'member-wrapper mb-1 col-sm-4 col-md-3 ' + (isOwner ? 'pointer ' : '') + (attendeeService.isOwnNick(elem.name) ? 'own-nick' : '')"
     [style.color]="'#' + sanitizeHTML(transformForegroundColor(hexToRgb(elem.colorCode)))"
     [style.background-color]="'#' + sanitizeHTML(elem.colorCode)">
  <p class="mb-0"
     [innerText]="elem.name"></p>
</div>

<ngx-qrcode [qrc-value]="qrCodeContent"
            qrc-class="qrCodeContent"
            qrc-errorCorrectionLevel="L"
            qrc-element-type="img"
            [class]="(!showQrCode ? 'd-none' : 'd-flex') + ' justify-content-center align-items-center qr-code-element'">
</ngx-qrcode>
