@import "../../../styles_vendor";

#content-container {
  @include media-breakpoint-down(xs) {
    height: 80vh;
    top: 20vh;
    position: absolute;
  }
  @include media-breakpoint-up(sm) {
    height: 90vh;

    &.is-phantom {
      /* These are required for phantomjs to render the screenshot correctly */
      margin: 0;
      display: flex;
      max-width: -webkit-calc(100% - 20%);
    }
  }
  @include media-breakpoint-only(md) {
    max-width: calc(#{map_get($container-max-widths, md)} - 20vw);
  }
  @include media-breakpoint-only(lg) {
    max-width: calc(#{map_get($container-max-widths, lg)} - 30vw);
  }
  @include media-breakpoint-only(xl) {
    max-width: 60vw;
  }
}

.footer-bar-wrapper {
  flex-shrink: 0;
  flex-grow: 0;

  @include media-breakpoint-only(xs) {
    width: 100%;
    height: 50px;
  }
}

.hidden {
  display: none !important;
}

.qr-code-element {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
}
