<div>
  <div class="px-1 px-sm-4">
    <app-header></app-header>
  </div>

  <div class="container-fluid" style="height: 90vh;">
    <div class="row flex-sm-nowrap h-100">
      <div class="footer-bar-wrapper p-0 relative" style="height: 50px;">
        <app-footer-bar [footerElements]="getFooterBarElements()"></app-footer-bar>
        <div class="d-none d-md-block">
          <router-outlet name="additionalData-md" class="d-none d-md-block"></router-outlet>
        </div>
      </div>

      <div id="content-container" class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
