<div *ngIf="!isLoading;else loadingSpinner">
  <div class="px-1 px-sm-4">
    <app-header></app-header>
  </div>

  <div class="container-fluid">
    <div class="row flex-sm-nowrap h-100">
      <div class="footer-bar-wrapper flex-grow-0 flex-shrink-0 p-0 relative">
        <app-footer-bar [footerElementEmitter]="getFooterBarElements()"></app-footer-bar>
        <div class="d-none d-md-block">
          <router-outlet name="additionalData-md"
                         class="d-none d-md-block"></router-outlet>
        </div>
      </div>

      <main id="content-container"
            class="container">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
</ng-template>