<a *ngFor="let quiz of quizzes; let i = index"
   [routerLink]="['/admin', 'quiz', quiz.id]"
   class="card mx-sm-auto mx-5 my-3 cursor-pointer text-dark nav-link p-0 text-dark">
  <div class="card-body">
    <div class="d-flex">
      <p class="card-text">
        <span>Name: </span>
        <span>{{quiz.name}}</span>
      </p>
      <div class="ml-auto">
        <fa-icon *ngIf="isDeletingElem(i)"
                 [icon]="'spinner'"
                 [spin]="true"></fa-icon>
        <fa-icon *ngIf="!isDeletingElem(i)"
                 [icon]="'times'"
                 class="cursor-pointer"
                 (click)="deleteElem($event, i)"></fa-icon>
      </div>
    </div>
    <p class="card-text"
       *ngIf="quiz.expiry">
      <span>Expiry: </span>
      <span>{{quiz.expiry | date}}</span>
    </p>
    <p class="card-text"
       *ngIf="quiz.visibility">
      <span>Visibility: </span>
      <span>{{quiz.visibility}}</span>
    </p>
    <p class="card-text">Is Active: {{isActiveQuiz(quiz)}}</p>
  </div>
</a>