@import "../../../styles_vendor";

@mixin showFooterElements() {
  opacity: 0.95;
  .footerElement {
    .footerElemText {
      display: block;
    }
  }
}

span.before,
span.after {
  width: 50px;
  top: 0;
  color: #fff;
  font-size: 2rem;
  z-index: 1050;
}

span.before {
  background: linear-gradient(to right, #000, rgba(0,0,0, 0.2));
}

span.after {
  background: linear-gradient(to left, #000, rgba(0,0,0, 0.2));
  right: 0;
}

.navbar-footer {
  left: 0;
  z-index: 1040;

  @include media-breakpoint-only(sm) {
    position: absolute;

    .footerElement {
      .footerElemText {
        display: none;
      }
    }
    &:hover {
      @include showFooterElements;
    }
  }
  @include media-breakpoint-up(md) {
    opacity: 0.95;
  }

  @include media-breakpoint-down(xs) {
    height: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  @include media-breakpoint-up(sm) {
    @include border-right-radius($border-radius);
    max-width: 20vw;
  }

  .footerElement {
    flex-shrink: 0;

    @include media-breakpoint-down(xs) {
      flex-grow: 1;

      .footerElemText {
        line-height: 40px;
      }
    }
    @include media-breakpoint-up(sm) {
      flex-grow: 0;

      .footerElemText {
        flex-shrink: 0;
        max-width: calc(20vw - 36px);
      }
    }
  }
}
