$primary: black;
$secondary: #1661a4;
$invers: rebeccapurple;
$light: #acacac;
$dark: #212121;
$info: yellow;
$success: green;
$warning: #FF8C00;
$danger: red;

$primary_text_color: white;
$secondary_text_color: #757575;

$modal-content-bg: #2b2b2b;
$modal-content-color: white;
$modal-header-border-color: transparent;

$body-bg: #212121;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$bg-pre: $dark;
$pre-color: $secondary;

$border-loader_wrapper-outer_spin: #00796b;
$border-loader_wrapper-middle_spin: #e74c3c;
$border-loader_wrapper-inner_spin: #f9c922;

$bg-answer-result-correct: $success;
$fg-answer-result-correct: $primary_text_color;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $primary_text_color;
$bg-answer-result-wrong: $danger;
$fg-answer-result-wrong: $primary_text_color;

$progress-bg: transparent;

$link-color: #25b4d1;
$link-decoration: none;
$link-hover-color: #25b4d1;
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$card-bg: #000;
$card-color: #fff;
$card-border-color: rgba(white, .125) !default;

$statistics-icon-opacity: 0.7;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
    $theme-colors,
    (
      invers:$invers,
    )
);

$colors: map-merge(
    $colors,
      (
      )
);

$bg-footer: #212121;
$footer-color: white;

$colorChangingBg: (
  0: (fg: white, bg: black),
  50: (fg: white, bg: black),
  100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
  0: (fg: white, bg: $primary),
  25: (fg: white, bg: $warning),
  50: (fg: white, bg: $warning),
  75: (fg: white, bg: $warning),
  100: (fg: white, bg: $primary)
);

$colorChangingArs: (
  0: (fg: white, bg: transparent),
  25: (fg: #b22222, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: $warning, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingNova: (
  0: (fg: $warning, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: #b22222, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: $warning, bg: transparent)
);

$colorChangingDot: (
  0: (fg: white, bg: transparent),
  25: (fg: $warning, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: #b22222, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingClick: (
  0: (fg: #b22222, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: $warning, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: #b22222, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": white, ".arsnova-logo-nova": white, ".arsnova-logo-click": $warning, ".westermann": white);

$popover-body-color: black;

$code-color: $primary_text_color;

@import "postbuild";

.bg-secondary {
  background-color: #212121 !important;
}

.card {
  color: white;
  background-color: #212121;
  border: none;
}

universal-cookie-consent {
  --ucc-color-primary: rebeccapurple;
  --ucc-color-primary-contrast: white;
  --ucc-color-secondary: #00796B;
  --ucc-color-secondary-contrast: white;
  --ucc-text-color: #cacaca;
  --ucc-link-color: #6bdca3;
  --ucc-backdrop-color: rgba(0, 0, 0, 0.6);
  --ucc-modal-background: #a75b00;
  --ucc-switch-background: #BBBBBB;
  --ucc-consent-type-description-color: #c1c1c1;
}
