$primary: moccasin;
$secondary: #86c15d;
$invers: rebeccapurple;
$light: #f1ada0;
$dark: white;
$info: #26b5d2;
$success: #86c15d;
$warning: #f8c362;
$danger: #e93458;

$primary_text_color: #757575;
$secondary_text_color: #757575;

$modal-content-bg: white;
$modal-content-color: #212121;
$modal-header-border-color: transparent;

$body-bg: $primary;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$border-loader_wrapper-outer_spin: #26b5d2;
$border-loader_wrapper-middle_spin: #e74c3c;
$border-loader_wrapper-inner_spin: #f5bc62;

$bg-answer-result-correct: #00a200;
$fg-answer-result-correct:white;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: white;
$bg-answer-result-wrong: #e74c3c;
$fg-answer-result-wrong: white;

$progress-bg: white;

$link-color: orange;
$link-decoration: none;
$link-hover-color: $primary_text_color;
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$statistics-icon-opacity: 0.2;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
                $theme-colors,
                (
                        invers:$invers,
                )
);

$colors: map-merge(
                $colors,
                        (
                        )
);

$bg-footer: $light;
$footer-color: $dark;

$colorChangingBg: (
        0: (fg: white, bg: black),
        50: (fg: white, bg: black),
        100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
        0: (fg: white, bg: #a50101),
        100: (fg: white, bg: $danger)
);

$colorChangingArs: (
        0: (fg: orange, bg: transparent),
        25: (fg: #1661a4, bg: transparent),
        50: (fg: orange, bg: transparent),
        75: (fg: orange, bg: transparent),
        100: (fg: orange, bg: transparent)
);

$colorChangingNova: (
        0: (fg: orange, bg: transparent),
        25: (fg: orange, bg: transparent),
        50: (fg: #1661a4, bg: transparent),
        75: (fg: orange, bg: transparent),
        100: (fg: orange, bg: transparent)
);

$colorChangingDot: (
        0: (fg: orange, bg: transparent),
        25: (fg: orange, bg: transparent),
        50: (fg: orange, bg: transparent),
        75: (fg: #1661a4, bg: transparent),
        100: (fg: orange, bg: transparent)
);

$colorChangingClick: (
        0: (fg: #1661a4, bg: transparent),
        25: (fg: orange, bg: transparent),
        50: (fg: orange, bg: transparent),
        75: (fg: orange, bg: transparent),
        100: (fg: #1661a4, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": #1661a4, ".arsnova-logo-nova": #1661a4, ".arsnova-logo-click": #1661a4);

$popover-body-color: initial;

$bg-pre: white;
$code-color: $secondary_text_color;

@import "postbuild";

.btn-secondary {
  border-color: #d3d3d3;
  color: white;
}

.card {
  color: $secondary_text_color
}

.bg-white {
  background-color: #f1b0a1 !important;
}

.card {
  background-color: #26b5d2;
}
