*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

body {
  height: 100%;
}

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  outline: none !important;
}

.qrCodeContent {

  img {
    height: 50vmin !important;
    width: 50vmin !important;
  }
}

.thumbnail {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 200px;
}

#theme-wrapper {
  z-index: 1000;
}

p {
  margin: 0;

  img {
    max-width: 100%;
    max-height: 50vh;
  }
}

img[alt*="emoji_"] {
  height: 24px;
  width: 24px;
}

@include media-breakpoint-only(xs) {
  .btn-header {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;

    .btn {
      border-radius: 0;
    }
  }
}