*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

html {
  font-size: 18px;
}

body {
  height: 100%;
}

.mh-100vh {
  min-height: 100vh;
}

* {
  backface-visibility: hidden;
  outline: none !important;
  touch-action: manipulation;
}

.qrCodeContent {
  img {
    width: 50vmin !important;
    max-width: 100%;
    height: auto;
  }
}

.thumbnail {
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
  @include media-breakpoint-up(md) {
    max-width: 30vw;
  }

  max-height: 400px;
  height: auto;
  width: auto;
}

.device_xs.preview-frame {
  .thumbnail {
    max-width: inherit;
    width: 100%;
  }
}

#theme-wrapper {
  z-index: 1000;
}

p {
  img {
    max-width: 100%;
    max-height: 50vh;
  }
}

img[alt*="emoji_"] {
  height: 54px;
  width: 54px;
}

iframe {
  max-width: 100%;
}

.btn-header {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  button {
    scroll-snap-align: start;
  }
}

@include media-breakpoint-only(xs) {
  .btn-header {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;

    .btn {
      border-radius: 0;
    }
  }

  .cc-window {
    border-radius: 0 !important;
  }
}

.color-twitter {
  color: #1DA1F2 !important;

  &:hover {
    color: #1393e2 !important;
  }
}

.btn-twitter-follow {
  font: normal normal normal 13px/26px 'Helvetica Neue', Arial, sans-serif;
  height: 28px;
  border-radius: 4px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #F8F8F8;

  background-image: linear-gradient(to bottom, #FFF, #DEDEDE);
  border: #CCC solid 1px;
  color: #333 !important;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  fa-icon {
    width: 21px;
    height: 16px;
    left: 4px;
    margin-top: -6px;
    position: absolute;
    top: 25%;
    padding-left: 7px;
  }

  .label {
    white-space: nowrap;
    padding-left: 29px;
    padding-right: 7px;
  }
}

.sentry-error-embed-wrapper {
  z-index: 2000 !important;
}

#confetti-canvas {
  position: absolute;
  top: 0;
}

.mathjax-container {
  p {
    margin-bottom: 1rem;
  }
}

.mh-20vh {
  max-height: 20vh;
}

@include media-breakpoint-only(xs) {
  .full-xs {
    margin-left: -#{$grid-gutter-width / 2};
    margin-right: -#{$grid-gutter-width / 2};

    .card {
      border-radius: 0;
    }
  }

}
