@import "prebuild";

.responsive-table-row {
  margin-top: 10px;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 0;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
  }

  &.table-row-header {
    @include media-breakpoint-down(sm) {
      display: none;
    }

  }

  .table-section {
    white-space: nowrap;

    .table-mobile-header {
      flex: 0 0 40%;
      max-width: 40%;
      text-align: left;
      white-space: normal;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      .table-mobile-content {
        flex: 0 0 60%;
        max-width: 60%;
      }
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      align-self: stretch;
      padding: 10px;
      align-items: center;
      min-height: 62px;

      &:not(:first-child) {
        border-top: 1px solid #f0f0f0
      }
    }

    &.section-wrap {
      white-space: normal;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }
    }
  }
}

$step: 5;
$i: $step;
@while $i < 100 {

  &.section-#{$i} {
    flex: 0 0 #{$i}#{"%"};

    @include media-breakpoint-up(md) {
      max-width: #{$i}#{"%"};
    }
  }

  $i: $i + $step;
}
