<h2 class="mb-5">{{'component.voting.confidence_level.title' | translate}}</h2>

<div class="row">
  <div class="col-12">
    <input type="range"
           autofocus
           class="w-100"
           (keyup.enter)="sendConfidence()"
           [value]="confidenceValue"
           (input)="updateConficence($event)"
           (propertyChange)="updateConficence($event)">
  </div>
  <div class="col-12">
    <p class="text-center mb-5">{{getConfidenceLevelTranslation() | translate}}</p>
  </div>
  <div class="col-12">
    <button type="button"
            (click)="sendConfidence()"
            class="btn btn-info btn-block mt-5">
      <fa-icon [icon]="'paper-plane'"></fa-icon>
      <span *ngIf="confidenceValue">{{"component.voting.send" | translate}}</span>
      <span *ngIf="!confidenceValue">{{"component.voting.abstention" | translate}}</span>
    </button>
  </div>
</div>
