<div class="session-management row"
     [class.center-vertical]="!sessions.length">
  <div class="col-12">
    <h2 *ngIf="sessions.length === 0"
        class="text-center text-light"
        [innerHTML]="'component.hashtag_management.no_sessions' | translate"></h2>
  </div>
  <div class="col-12">
    <div *ngFor="let elem of sessions; let i = index"
         [id]="elem"
         class="row">
      <div class="col-12">
        <p class="hashtag-name">{{elem}}</p>
      </div>
      <div class="col-3">
        <button type="button"
                class="btn btn-default btn-block pointer"
                data-toggle="tooltip"
                [title]="'component.hashtag_management.start_session' | translate"
                [disabled]="!isValid(elem)"
                (click)="startQuiz(elem)"
                data-animation="false">
          <span class="fas fa-paper-plane" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-3">
        <button type="button"
                class="btn btn-default btn-block pointer"
                data-toggle="tooltip"
                [title]="'component.hashtag_management.edit_session' | translate"
                (click)="editQuiz(elem)"
                data-animation="false">
          <span class="fas fa-edit" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-default btn-block pointer"
                data-toggle="tooltip"
                [title]="'component.hashtag_management.export' | translate"
                (click)="exportQuiz(elem)"
                data-animation="false">
          <span class="fas fa-download" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-3">
        <button type="button"
                class="btn btn-default btn-block pointer"
                data-toggle="tooltip"
                [title]="'component.hashtag_management.delete_session' | translate"
                (click)="deleteQuiz(elem)"
                data-animation="false">
          <span class="fas fa-trash" aria-hidden="true"></span>
        </button>
      </div>
      <hr *ngIf="i < sessions.length - 1"/>
    </div>
  </div>
</div>
