@import "prebuild";

.header {
  display: grid;
  grid-template-columns: 50px 1fr 16px;
  grid-template-rows: 50% 50%;
  grid-column-gap: 10px;
  margin-bottom: 20px;
}

.avatar {
  grid-column: 1;
  grid-row: 1 / 3;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  grid-column: 2;
  grid-row: 1;
  font-weight: bold;
  color: black;
  line-height: 1;
  font-size: large;
  align-self: end;
}

.username {
  grid-column: 2;
  grid-row: 2;

  a:hover {
    .screen-name {
      text-decoration: underline;
    }
  }
}

.tw-icon-container {
  grid-row: 1 / 2;
  text-align: right;
  padding: 5% 0;
}

.card-text {
  color: black;
}

.card {
  color: #757575;
  border: 0;
  border-radius: 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
}

.follower {
  grid-column: 1;
}

.date {
  grid-column: 2;
  text-align: right;
}

.date a {
  color: #757575;
}

.username a {
  color: #757575;
}

.card-body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@include media-breakpoint-only(xs) {
  .card {
    border-radius: 0;
  }
}

.twitter-media-img {
  img {
    width: 50px;
    height: auto;
  }
}
