<div class="modal-header pb-0 border-0">
  <button (click)="dismiss()"
          aria-label="Close"
          class="close cursor-pointer"
          data-dismiss="modal"
          type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0">
  <div class="d-flex flex-column align-items-center qrCodeContent">
    <qr-code
      [background]="'#000000'"
      [canvas]="true"
      [foreground]="'#ffffff'"
      [size]="calculateQRCodeSize()"
      [value]="qrCodeContent"
      class="px-3 pb-4"></qr-code>
    <h6 class="mb-0 text-break text-center">{{qrCodeContent}}</h6>
  </div>
</div>
