<ul class="row"
    [attr.data-intro]="'view.question_type.description.type_wrapper' | translate"
    [attr.aria-label]="'view.question_type.description.type_wrapper' | translate">
  <li *ngFor="let elem of selectableQuestionTypes"
      [id]="elem.id"
      class="col-12 col-sm-6"
      [class.active]="isActiveQuestionType(elem.id)"
      [attr.aria-selected]="isActiveQuestionType(elem.id)"
      (click)="morphToQuestionType(elem.id)">
    <div class="wrapper rounded pointer p-3 text-light">
      <p class="title border-bottom mb-2" [innerHTML]="elem.translationName | translate"></p>
      <p class="description" [innerHTML]="elem.descriptionType | translate"></p>
    </div>
  </li>
</ul>
