<div class="available-quizzes-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{'component.name_management.quiz_management' | translate}}</h5>
    <button (click)="dismiss()"
            aria-label="Close"
            class="close cursor-pointer"
            data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between justify-content-sm-around">
      <button (click)="connectionService.serverAvailable && elem.isValid() ? startQuiz(elem) : editQuiz(elem)"
              *ngFor="let elem of sessions"
              [class.btn-outline-danger]="!elem.isValid()"
              [class.btn-outline-success]="elem.isValid()"
              [disabled]="startingQuiz"
              class="btn d-inline mr-sm-2 my-1 px-4 py-2 flex-sm-grow-1">
        <span>{{elem.name}}</span>
        <fa-icon *ngIf="startingQuiz === elem"
                 [icon]="'spinner'"
                 [spin]="true"
                 class="ml-2"></fa-icon>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="abort()"
            class="btn btn-light"
            data-dismiss="modal"
            type="button">{{'global.close_window' | translate}}
    </button>
  </div>

</div>
