<div class="">
  <ul class="list-unstyled m-0 p-0 d-flex flex-wrap overflow-hidden btn-group">
    <li *ngFor="let elem of allDisplayedMarkdownBarElements"
        [id]="elem.id"
        class="btn btn-warning cursor-pointer"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="elem.titleRef | translate"
        data-animation="false"
        (click)="connector(elem)">
      <i *ngIf="elem.customIcon"
         [class]="elem.iconClass"
         aria-hidden="true"></i>
      <fa-icon *ngIf="!elem.customIcon"
               [icon]="elem.iconClass"></fa-icon>
    </li>
  </ul>
</div>
