ul {
  li {
    flex: 1 0 calc(100% / 7);
    line-height: 20px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.line-break-icon::before {
  font-weight: bold;
  content: "\21A9";
  font-size: x-large;
}

.latex-icon::before {
  font-weight: bold;
  content: "\TeX";
}
