#quizSummaryHeader {
  &.overflow-active {
    position: absolute;
  }
  position: relative;
  overflow:hidden;

  .overflow-wrapper {
    &.overflow-active {
      height: 100px;
      padding-top: 100px;
      position: absolute;
    }
    bottom: 1rem;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .overflow-wrapper-label {
    &.overflow-active {
      position: absolute;
    }
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    background: -moz-linear-gradient(top, rgba(32,124,202,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(32,124,202,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(32,124,202,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00207cca', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }

  hr {
    &.overflow-active {
      position: absolute;
    }
    bottom: 0;
    left: 0;
    width: 100%;
  }

  p {
    margin: 0;
  }
}

#added_questions_wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;

    .questionButtonOptions {
      float: right;

      i {
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}

#available_questions_wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;

  li {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    flex-grow: 0;
    text-align: center;
    flex-shrink: 0;
    flex-basis: calc(50% - 10px);
    cursor: pointer;
  }
}
