<div *ngIf="countdown && countdown.isRunning"
     class="overflow-hidden mb-3 d-flex"
     id="countdown-header">
  <div class="ml-auto">
    <span>{{countdown.remainingTime}}</span>
    <fa-icon [icon]="'hourglass'"></fa-icon>
  </div>
</div>

<app-voting-question [questionText]="questionText"
                     [showQuestion]="!quizService.quiz?.sessionConfig?.readingConfirmationEnabled"></app-voting-question>

<div *ngIf="displayAnswerButtons()"
     class="d-flex justify-content-around align-items-center flex-wrap">
  <button (click)="toggleSelectAnswer(i)"
          *ngFor="let elem of answers; let i = index"
          [class.btn-invers]="isSelected(i)"
          [class.btn-secondary]="!isSelected(i)"
          [style.flex-basis]="quizService.currentQuestion().showOneAnswerPerRow ? '100%' : 'auto'"
          class="btn answer-option-element d-flex justify-content-center align-items-center rounded m-2 p-1 flex-grow-1 flex-shink-1">
    <span *ngIf="quizService.currentQuestion().displayAnswerText"
          [innerHTML]="sanitizeHTML(elem)"
          class="align-items-center d-flex h-100 mw-100 overflow-hidden"></span>
    <span *ngIf="!quizService.currentQuestion().displayAnswerText">{{normalizeAnswerOptionIndex(i)}}</span>
  </button>
</div>

<div *ngIf="displayRangedButtons()"
     class="mt-5">
  <input (input)="parseNumberInput($event)"
         (keyup.enter)="sendResponses()"
         (propertyChange)="parseNumberInput($event)"
         [placeholder]="'component.voting.ranged_question.title' | translate"
         autofocus
         class="w-100 px-2 py-1 rounded border-0"
         type="number"/>
</div>

<div *ngIf="displayFreetextInput()"
     class="mt-5">
  <input (input)="parseTextInput($event)"
         (keyup.enter)="sendResponses()"
         (propertyChange)="parseTextInput($event)"
         [placeholder]="'component.voting.free_text_question.title' | translate"
         autofocus
         class="w-100 px-2 py-1 rounded border-0"
         type="text"/>
</div>

<button (click)="sendResponses()"
        *ngIf="showSendResponseButton()"
        class="btn btn-info btn-block my-5">
  <span>{{'component.voting.send' | translate}}</span>
  <fa-icon [icon]="'paper-plane'"></fa-icon>
</button>
