<div *ngIf="quizService?.currentQuestion()?.timer > 0"
     class="overflow-hidden mb-3 d-flex"
     id="countdown-header">
  <div class="ml-auto">
    <span *ngIf="countdown && countdown.isRunning">{{countdown.remainingTime}}</span>
    <fa-icon *ngIf="!countdown || !countdown.isRunning"
             [icon]="'spinner'"
             [spin]="true"></fa-icon>
    <fa-icon [icon]="'hourglass'"
             class="ml-2"></fa-icon>
  </div>
</div>

<app-voting-question [questionText]="questionText"
                     [showQuestion]="!quizService.quiz?.sessionConfig?.readingConfirmationEnabled"></app-voting-question>

<div *ngIf="displayAnswerButtons()"
     [class.mb-5]="showSendResponseButton()"
     class="d-flex justify-content-around align-items-center flex-wrap">
  <button (click)="toggleSelectAnswer(i)"
          *ngFor="let elem of answers; let i = index"
          [class.btn-invers]="isSelected(i)"
          [class.btn-secondary]="!isSelected(i)"
          [class.m-2]="!quizService.currentQuestion().showOneAnswerPerRow"
          [class.my-2]="quizService.currentQuestion().showOneAnswerPerRow"
          [style.flex-basis]="quizService.currentQuestion().showOneAnswerPerRow ? '100%' : 'auto'"
          class="btn answer-option-element d-flex justify-content-center align-items-center rounded p-1 flex-grow-1 flex-shink-1">
    <span *ngIf="quizService.currentQuestion().displayAnswerText"
          [innerHTML]="sanitizeHTML(elem)"
          class="align-items-center d-flex h-100 mw-100 overflow-hidden"></span>
    <span *ngIf="!quizService.currentQuestion().displayAnswerText">{{normalizeAnswerOptionIndex(i)}}</span>
  </button>
</div>

<div *ngIf="displayRangedButtons()"
     [class.mb-5]="showSendResponseButton()"
     class="mt-5">
  <input (input)="parseNumberInput($event)"
         (keyup.enter)="sendResponses()"
         (propertyChange)="parseNumberInput($event)"
         [placeholder]="'component.voting.ranged_question.title' | translate"
         autofocus
         class="w-100 px-2 py-1 rounded border-0"
         type="number"/>
</div>

<div *ngIf="displayFreetextInput()"
     [class.mb-5]="showSendResponseButton()"
     class="mt-5">
  <input (input)="parseTextInput($event)"
         (keyup.enter)="sendResponses()"
         (propertyChange)="parseTextInput($event)"
         [placeholder]="'component.voting.free_text_question.title' | translate"
         autofocus
         class="w-100 px-2 py-1 rounded border-0"
         type="text"/>
</div>

<div *ngIf="showSendResponseButton()"
     class="position-fixed fixed-bottom py-2 d-flex bg-primary">
  <button (click)="sendResponses()"
          class="btn btn-info btn-lg mx-3 px-sm-5 mx-sm-auto flex-grow-1 flex-sm-grow-0">
    <span class="mr-2">{{'component.voting.send' | translate}}</span>
    <fa-icon [icon]="'paper-plane'"></fa-icon>
  </button>
</div>
