<div [class]="'row ' + (!leaderBoard.length ? 'center-vertical' : '')">
  <h2 *ngIf="!leaderBoard.length"
      class="col-12"
      [innerHTML]="'component.leaderboard.no_attendee_correct' + (isGlobalRanking ? '_global' : '') | translate"></h2>
  <h4 *ngIf="leaderBoard.length"
      class="col-12">{{'component.leaderboard.question' | translate}}&nbsp;{{questionIndex + 1}}</h4>
  <div *ngFor="let attendee of leaderBoard; let i = index"
       [class]="(!i ? 'col-12' : 'col-sm-6')">
    <div [class]="'leader-board-item rounded p-2 my-2 ' + (!i ? 'own-nick text-center' : attendeeService.isOwnNick(attendee.name) ? 'own-nick' : '')">
      <i *ngIf="!i"
         class="fa fa-trophy"
         aria-hidden="true"></i>
      <span *ngIf="i">{{i + 1}}.&nbsp;</span>
      <span>{{attendee.name}}&nbsp;-&nbsp;</span>
      <span>{{attendee.responseTime}}&nbsp;{{'component.leaderboard.second' | translate:{COUNT:2} }}</span>
    </div>
  </div>
</div>
