<div id="loader-wrapper">

  <div *ngIf="!isLoading" class="position-relative arsnova-click-label mx-auto mw-500px text-center">
    <ng-container *ngIf="hasApproved && isPending">
      <app-audio-player #joinAudio *ngIf="quizService.playAudio" [config]="audioConfig"></app-audio-player>
      <app-audio-player #countdownEndAudio [config]="countdownEndMusicConfig" (playbackFinished)="playbackFinished.next()"></app-audio-player>

      <ng-container *ngIf="!isJoining">
        <h2 class="text-bold my-0">{{'component.quiz-join.top-header' | translate }}</h2>
        <h4 class="mt-5">{{'component.quiz-join.sub-header' | translate}}</h4>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!hasApproved">
      <h3>{{'component.quiz-join.approval.top-header' | translate}}</h3>
      <h1>{{quizName}}</h1>
      <h3>{{'component.quiz-join.approval.sub-header' | translate}}</h3>
      <div class="d-flex justify-content-between mt-5">
        <button class="btn btn-success w-25 flex-grow-1 flex-sm-grow-0 mr-2" (click)="approve()">{{'global.yes' | translate}}</button>
        <button class="btn btn-danger w-25 flex-grow-1 flex-sm-grow-0 ml-2" [routerLink]="['/']">{{'global.no' | translate}}</button>
      </div>
    </ng-container>

    <ng-container *ngIf="isJoining">
      <h3>{{'component.quiz-join.joining.top-header' | translate}}</h3>
      <h3>{{'component.quiz-join.joining.sub-header' | translate}}</h3>
    </ng-container>
  </div>

  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
