<div class="row">
  <ng-container *ngIf="attendeeService.getMemberGroups()?.length === 1; else attendeesByGroup">
    <ng-container *ngIf="!attendeeService.attendees.length">
      <div class="col-12">
        <h3 class="text-center center-top d-flex align-self-center justify-content-center">{{'component.lobby.waiting_for_players' | translate}}</h3>
      </div>
    </ng-container>
    <div *ngFor="let elem of attendeeService.attendees"
         class="my-1 col-sm-4 col-md-3">
      <div (click)="openKickMemberModal(removeMemberModal, elem.name)"
           [class.cursor-pointer]="quizService.isOwner"
           [class.own-nick]="attendeeService.isOwnNick(elem.name)"
           [id]="elem.id"
           [style.background-color]="'#' + sanitizeHTML(elem.colorCode)"
           [style.color]="'#' + sanitizeHTML(transformForegroundColor(hexToRgb(elem.colorCode)))"
           class="member-wrapper rounded h-100 d-flex align-items-center justify-content-center">
        <p [innerHTML]="parseNickname(elem.name)"
           class="mb-0 p-2 break-word"></p>
      </div>
    </div>
  </ng-container>
</div>

<app-audio-player *ngIf="quizService.isOwner && quizService.quiz?.sessionConfig?.music.enabled.lobby"
                  [autostart]="true"
                  [original_volume]="quizService.quiz.sessionConfig.music.volumeConfig.useGlobalVolume ? quizService.quiz.sessionConfig.music.volumeConfig.global : quizService.quiz.sessionConfig.music.volumeConfig.lobby"
                  [src]="quizService.quiz.sessionConfig.music.titleConfig.lobby"
                  [target]="'lobby'"></app-audio-player>

<ng-template #attendeesByGroup>
  <div *ngFor="let group of attendeeService.getMemberGroups()"
       class="col-12 col-sm-6">
    <div class="pb-4">
      <h4>Team {{group}}</h4>
      <ng-container *ngIf="!attendeeService.getMembersOfGroup(group).length">
        <span class="attendee-text">{{'component.lobby.waiting_for_players' | translate}}</span>
      </ng-container>
      <div (click)="openKickMemberModal(removeMemberModal, elem.name)"
           *ngFor="let elem of attendeeService.getMembersOfGroup(group)"
           [class.cursor-pointer]="quizService.isOwner"
           class="d-inline-flex mw-100 mr-3">
        <fa-icon [class.own-nick]="attendeeService.isOwnNick(elem.name)"
                 [icon]="'users'"
                 [id]="elem.id"
                 [style.background-color]="'#' + sanitizeHTML(transformForegroundColor(hexToRgb(elem.colorCode)))"
                 [style.color]="'#' + sanitizeHTML(elem.colorCode)"
                 class="member-wrapper rounded px-1 py-1 fa-2x">>
        </fa-icon>
        <p [innerHTML]="parseNickname(elem.name)"
           class="ml-2 attendee-text text-truncate mb-0 align-self-center"></p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #removeMemberModal
             let-c="close"
             let-d="dismiss">
  <div class="modal-header">
    <button (click)="d()"
            aria-label="Close"
            class="close cursor-pointer"
            data-dismiss="modal"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <p class="d-inline-flex">
      {{'component.lobby.kick_member_confirmation' | translate:{NAME: parseNickname(nickToRemove)} }}</p>
  </div>

  <div class="modal-footer">
    <button (click)="kickMember(nickToRemove)"
            [innerHTML]="'global.yes' | translate"
            class="btn btn-danger mr-auto"
            data-dismiss="modal"
            type="button"></button>

    <button (click)="d()"
            [innerHTML]="'global.no' | translate"
            class="btn btn-info"
            data-dismiss="modal"
            type="button"></button>

  </div>
</ng-template>
