<div class="row">
  <div class="col-12">
    <h3 *ngIf="!attendeeService.attendees.length"
        class="text-center no-attendees-label">{{'component.lobby.waiting_for_players' | translate}}</h3>
  </div>
  <div *ngFor="let elem of attendeeService.attendees"
       class="mb-1 col-sm-4 col-md-3">
    <div [id]="elem.id"
         (click)="currentQuizService.isOwner ? openKickMemberModal(removeMemberModal, elem.name) : return"
         class="member-wrapper"
         [class.pointer]="currentQuizService.isOwner"
         [class.own-nick]="attendeeService.isOwnNick(elem.name)"
         [style.color]="'#' + sanitizeHTML(transformForegroundColor(hexToRgb(elem.colorCode)))"
         [style.background-color]="'#' + sanitizeHTML(elem.colorCode)">
      <p class="mb-0"
         [innerText]="elem.name"></p>
    </div>
  </div>
</div>

<app-audio-player *ngIf="currentQuizService.isOwner && currentQuizService.quiz.sessionConfig?.music.enabled.lobby"
                  [original_volume]="currentQuizService.quiz.sessionConfig.music.volumeConfig.useGlobalVolume ? currentQuizService.quiz.sessionConfig.music.volumeConfig.global : currentQuizService.quiz.sessionConfig.music.volumeConfig.lobby"
                  [autostart]="true"
                  [target]="'lobby'"
                  [src]="currentQuizService.quiz.sessionConfig.music.titleConfig.lobby"></app-audio-player>

<ngx-qrcode [qrc-value]="qrCodeContent"
            qrc-class="qrCodeContent"
            qrc-errorCorrectionLevel="L"
            qrc-element-type="img"
            class="justify-content-center align-items-center qr-code-element"
            [class.d-flex]="showQrCode"
            [class.d-none]="!showQrCode">
</ngx-qrcode>

<ng-template #removeMemberModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <p>{{'component.lobby.kick_member_confirmation' | translate:{NAME: _nickToRemove} }}</p>

  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            (click)="kickMember(_nickToRemove)"
            [innerHTML]="'global.yes' | translate"></button>

    <button type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="d()"
            [innerHTML]="'global.no' | translate"></button>

  </div>
</ng-template>
