<ul class="row"
    [attr.data-intro]="'view.question_type.description.type_wrapper' | translate"
    [attr.aria-label]="'view.question_type.description.type_wrapper' | translate">
  <li *ngFor="let elem of questionTypes"
      [class]="'col-12 col-sm-6 ' + (isActiveQuestionType(elem.TYPE) ? 'active' : '')"
      [id]="elem.TYPE"
      [attr.aria-selected]="isActiveQuestionType(elem.TYPE)"
      (click)="morphToQuestionType(elem.TYPE)">
    <div class="wrapper">
      <p class="title" [innerHTML]="elem.translationReferrer() | translate"></p>
      <p class="description" [innerHTML]="elem.translationDescription() | translate"></p>
    </div>
  </li>
</ul>
