ul {
  margin: 0;
  list-style-type: none;
  padding: 0;

  li {
    &.active {
      .wrapper {
        border-color: rebeccapurple;
      }
    }
    &:hover {

    }
    .wrapper {
      border: 1px solid;
      height: calc(100% - 10px);

      .title {
        text-align: center;
      }
    }
  }
}
