<h4 class="text-center mb-5">
  <span *ngIf="isViewingOwnQuizzes">{{'component.public-quizzes.own.title' | translate}}</span>
  <span *ngIf="!isViewingOwnQuizzes">{{'component.public-quizzes.title' | translate}}</span>
</h4>

<h5 *ngIf="!availablePublicQuizzes.length"
    class="text-center">{{'component.public-quizzes.none-available' | translate}}</h5>

<div class="row">
  <div class="col-sm-6"
       *ngFor="let quiz of availablePublicQuizzes; let i = index">
    <div class="card mb-2 text-dark">
      <div class="card-body">
        <div class="d-flex">
          <fa-icon *ngIf="isViewingOwnQuizzes"
                   class="ml-auto cursor-pointer"
                   [title]="'component.public-quizzes.own.remove' | translate"
                   [icon]="'times'"
                   (click)="removeQuiz(i)"></fa-icon>
          <fa-icon *ngIf="!isViewingOwnQuizzes"
                   class="ml-auto cursor-pointer"
                   [title]="'component.public-quizzes.play' | translate"
                   [icon]="'paper-plane'"
                   (click)="playQuiz(i)"></fa-icon>
        </div>
        <h5 class="card-title">{{'component.public-quizzes.name' | translate}}&nbsp;{{quiz.name}}</h5>
        <p class="card-subtitle text-muted mb-2">{{quiz.description}}</p>
        <p class="card-text mb-0">{{'component.public-quizzes.features' | translate}}</p>
        <ul>
          <li>{{'component.public-quizzes.number-of-questions' | translate}}&nbsp;{{quiz.questionList.length}}</li>
          <li>{{'component.public-quizzes.cas-required' | translate}}&nbsp;{{getTranslationForYesNo(quiz.sessionConfig.nicks.restrictToCasLogin) | translate}}</li>
        </ul>
        <label class="input-group">
          <input type="text"
                 class="form-control"
                 readonly
                 #quizLinkInput
                 [value]="getQuizLink(i)"/>
          <div class="input-group-append">
            <button class="btn btn-primary">
              <fa-icon class="cursor-pointer"
                       [title]="'component.public-quizzes.copy' | translate"
                       [icon]="'copy'"
                       (click)="copyQuiz(quizLinkInput)"></fa-icon>
            </button>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>