
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

#contentContainer {
  height: 90vh;
}

.footer-bar-wrapper {
  flex-shrink: 0;
  flex-grow: 1;

  @include media-breakpoint-only(xs) {
    width: 100%;
  }
}
