<div>
  <div class="px-1 px-sm-4">
    <app-header [headerLabel]="getHeaderLabel()"></app-header>
  </div>

  <div class="container-fluid" style="height: 90vh;">
    <div class="row flex-sm-nowrap">
      <div class="footer-bar-wrapper p-0">
        <app-footer-bar [footerElements]="getFooterBarElements()"></app-footer-bar>
      </div>

      <div class="col-12 col-sm-11 col-sm-offset-1">
        <div class="row">
          <div id="content-container" class="container">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
