@import "prebuild";

.key-textarea {
  resize: vertical;
}

input[type=checkbox] {
  height: 1rem;
  width: 1rem;
}

@include media-breakpoint-only(xs) {
  .h-xs-50vh {
    height: 50vh;
  }
}

.value-list {
  top: 50px;

  @include media-breakpoint-up(sm) {
    height: calc(100vh - 260px);
  }
}
