<div class="row d-flex flex-wrap mb-2 text-light">

  <div class="d-flex col-12">
    <span class="d-inline-flex mx-2 align-items-center">Current Project:</span>
    <select class="border-0 bg-transparent text-light"
            (change)="setProject($event.target.value)">
      <option [value]="projectLoaderService.projects.Frontend">Frontend
      </option>
      <option [value]="projectLoaderService.projects.Backend">Backend
      </option>
    </select>

    <span class="d-inline-flex mx-2 align-items-center"
          [class.text-warning]="this.projectLoaderService.connected"
          [class.text-danger]="!this.projectLoaderService.connected">
      {{!this.projectLoaderService.connected ? 'Not ' : ''}} Loaded{{this.projectLoaderService.connected && !this.userService.staticLoginTokenContent.gitlabToken ? ' (Readonly)' : ''}}
    </span>

    <label class="d-inline-flex mx-2 align-items-center mb-0">
      <span class="mr-2">Hide unused keys</span>
      <input type="checkbox"
             [(ngModel)]="unusedKeyFilter"/>
    </label>

    <div *ngIf="this.projectLoaderService.connected"
         class="btn-group ml-auto">
      <button class="btn btn-secondary pointer"
              [disabled]="!this.languageLoaderService.changedData"
              (click)="updateData()"><span>Save Changes</span>
      </button>
      <button class="btn btn-secondary pointer"
              (click)="modalOrganizerService.addKey()">
        <span>Add Key</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="this.projectLoaderService.connected;else loading"
     class="row mh-100 text-light">
  <div class="d-flex sticky-top col-12 mb-2">
    <div class="bg-white d-flex w-100 py-1">
      <select class="border-0 bg-transparent mr-2"
              (change)="changeFilter($event.target.value)">
        <option [value]="filters.None"
                [selected]="filter === filters.None">No Filter
        </option>
        <option [value]="filters.InvalidKeys"
                [selected]="filter === filters.InvalidKeys">Empty Keys
        </option>
        <option [value]="filters.InvalidDE"
                [selected]="filter === filters.InvalidDE">Empty DE Keys
        </option>
        <option [value]="filters.InvalidEN"
                [selected]="filter === filters.InvalidEN">Empty EN Keys
        </option>
        <option [value]="filters.InvalidES"
                [selected]="filter === filters.InvalidES">Empty ES Keys
        </option>
        <option [value]="filters.InvalidFr"
                [selected]="filter === filters.InvalidFr">Empty FR Keys
        </option>
        <option [value]="filters.InvalidIt"
                [selected]="filter === filters.InvalidIt">Empty IT Keys
        </option>
      </select>
      <input type="text"
             class="d-flex flex-grow-1 border-0"
             #searchBox
             [value]="searchFilter"
             (keyup)="searchFilter = (searchBox.value)"
             placeholder="Search..."/>
    </div>
  </div>

  <div class="col-12 key-list overflow-auto"
       [class.col-sm-6]="!!selectedKey">
    <app-key-output [filter]="filter"
                    [unusedKeyFilter]="unusedKeyFilter"
                    [searchFilter]="searchFilter"
                    (changeEmitter)="dataChanged($event)"></app-key-output>
  </div>
  <div class="col-12 col-sm-6 d-flex flex-column"
       *ngIf="!!selectedKey">
    <p class="mb-0 text-center text-warning"
       *ngIf="isUnusedKey()">This key is currently unused!</p>
    <div class="d-flex flex-column flex-grow-1 mb-2"
         *ngFor="let langKey of getKeys(languageLoaderService.language)">
      <p class="mb-0">{{languageLoaderService.languageTranslation[langKey.toUpperCase()]}}</p>
      <textarea class="w-100 key-textarea flex-grow-1"
                [disabled]="!this.userService.staticLoginTokenContent.gitlabToken"
                [class.cursor-not-allowed]="!this.userService.staticLoginTokenContent.gitlabToken"
                [title]="!this.userService.staticLoginTokenContent.gitlabToken ? 'No gitlab token set' : ''"
                (keyup)="updateKey($event, langKey.toLowerCase(), selectedKey)"
                [value]="selectedKey?.value[langKey.toLowerCase()] || ''"></textarea>
    </div>
  </div>
</div>

<ng-template #unauthorized><h4 class="text-danger text-center mt-5 bg-white d-flex justify-content-center py-3 mx-auto rounded">Not authorized to view this project</h4></ng-template>
<ng-template #loading><h4 class="text-light text-center mt-5">Loading...</h4></ng-template>
