.question-text-box {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  resize: none;
  outline: none;
}

app-live-preview {
  margin: 0 auto;
}
