<div id="quizSummaryHeader"
     class="quizSummary mt-3 mt-sm-0 mt-md-3 px-md-0 mb-3">

  <div class="row no-gutters">

    <div class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0">
      <div class="element-wrapper d-flex flex-column bg-white text-dark px-2 py-2 mb-2 h-100"
           [attr.data-intro]="'component.quiz_summary.description.header' | translate"
           [attr.aria-label]="'component.quiz_summary.description.header' | translate">
        <h5 class="text-center">{{'component.quiz_summary.quiz_name' | translate}}</h5>
        <p class="mb-0 d-flex align-self-center align-items-end h-100 text-bold text-center"
           role="listitem">
          <span>{{this.quizService.quiz?.name}}</span>
        </p>
      </div>
    </div>

    <div class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0">
      <div class="element-wrapper d-flex flex-column bg-white text-dark px-2 py-2 mb-2 h-100"
           [attr.data-intro]="'component.quiz_summary.description.question_group_validation' | translate"
           [attr.aria-label]="'component.quiz_summary.description.question_group_validation' | translate">
        <h5 class="text-center">{{'component.quiz_summary.validation_question_group' | translate}}</h5>
        <p class="mb-0 d-flex align-self-center align-items-end h-100 text-bold text-center"
           role="listitem">
          <span *ngIf="this.quizService.quiz?.isValid()"
                class="text-success">
            {{'component.quiz_summary.question_group_successful' | translate}}
          </span>
          <span *ngIf="!this.quizService.quiz?.isValid()"
                class="text-danger">
            {{'component.quiz_summary.question_group_failed' | translate}}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="isShowingMore"
         class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0">
      <div class="element-wrapper bg-white text-dark px-2 py-2 mb-2 h-100"
           [attr.data-intro]="'component.quiz_summary.description.session_url' | translate"
           [attr.aria-label]="'component.quiz_summary.description.session_url' | translate">
        <h5 class="text-center">{{'component.quiz_summary.quiz_url' | translate}}</h5>
        <p class="mb-0 text-wrap"
           role="listitem">
          <span>{{getQuizUrl(this.quizService.quiz?.name)}}</span>
        </p>
      </div>
    </div>

    <div *ngIf="this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length === 0 && isShowingMore"
         class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0">
      <div class="element-wrapper bg-white text-dark px-2 py-2 mb-2 h-100">
        <h5 class="text-center text-hyphenate">{{'component.quiz_summary.isRestrictingRudeNicks' | translate}}</h5>
        <p class="mb-0 text-center"
           role="listitem">
          <span *ngIf="this.quizService.quiz?.sessionConfig.nicks.blockIllegalNicks">
            {{'global.yes' | translate}}
          </span>
          <span *ngIf="!this.quizService.quiz?.sessionConfig.nicks.blockIllegalNicks">
            {{'global.no' | translate}}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="isShowingMore"
         class="col-6 col-md-12 mt-sm-2 mb-2 mb-sm-0">
      <div class="element-wrapper bg-white text-dark px-2 py-2 mb-2 h-100"
           [attr.data-intro]="'component.quiz_summary.description.restrict_to_cas' | translate"
           [attr.aria-label]="'component.quiz_summary.description.restrict_to_cas' | translate">
        <h5 class="text-center">{{'component.quiz_summary.isRestrictingToCAS' | translate}}</h5>
        <p class="mb-0 text-center text-hyphenate"
           role="listitem">
          <span *ngIf="this.quizService.quiz?.sessionConfig.nicks.restrictToCasLogin">
            {{'global.yes' | translate}}
          </span>
          <span *ngIf="!this.quizService.quiz?.sessionConfig.nicks.restrictToCasLogin">
            {{'global.no' | translate}}
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="isShowingMore"
         [class.col-6]="this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length === 0"
         [class.col-md-12]="this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length === 0"
         [class.col-12]="this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length > 0"
         class="mt-sm-2 mb-2 mb-sm-0 px-0">
      <div class="element-wrapper bg-white text-dark px-2 py-2 mb-2 h-100">
        <h5 class="text-center">{{'component.quiz_summary.selected_nicks' | translate}}</h5>

        <p class="mb-0">
          <span *ngIf="!this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length">
            {{'component.quiz_summary.no_selected_nicks' | translate}}
          </span>

          <span *ngIf="this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length">
            {{'component.quiz_summary.selected_nicks' | translate}}&#58;&nbsp;
            {{this.quizService.quiz?.sessionConfig.nicks.selectedNicks.length}}
          </span>
        </p>

        <p class="mb-0"
           [innerHTML]="this.quizService.quiz?.sessionConfig.nicks.selectedNicks.join(', ')">
        </p>
      </div>
    </div>

    <button class="btn btn-block btn-light d-md-none mt-sm-2"
            (click)="switchShowMoreOrLess()">
      <span *ngIf="isShowingMore">{{'component.quiz_manager.show_less' | translate}}</span>
      <span *ngIf="!isShowingMore">{{'component.quiz_manager.show_more' | translate}}</span>
    </button>
  </div>
</div>
