<div class="center-vertical d-flex justify-content-center flex-column">
  <div class="btn-group w-100">
    <input type="text"
           autofocus
           (keyup.enter)="joinQuiz()"
           class="rounded-left border-0 py-1 px-2 w-100"
           id="input-nickname"
           [placeholder]="'component.choose_nickname.enter_nickname_here' | translate"
           [attr.data-intro]="'component.choose_nickname.description.nickname_input' | translate"
           [attr.aria-label]="'component.choose_nickname.description.nickname_input' | translate"
           maxlength="20"/>
    <button class="btn btn-success text-nowrap"
            (click)="joinQuiz()">
      <span>{{'component.name_management.join_session' | translate}}</span>
    </button>
  </div>
  <div *ngIf="failedLoginReason"
       class="border border-danger rounded p-5 m-5 text-center text-uppercase"
       style="border-width: 3px;">
    <span>{{failedLoginReason | translate}}</span>
  </div>
</div>
