<div class="center-vertical d-flex justify-content-center flex-column">
  <div class="btn-group w-100">
    <input (keyup.enter)="joinQuiz()"
           [(ngModel)]="nickname"
           [attr.aria-label]="'component.choose_nickname.description.nickname_input' | translate"
           [attr.data-intro]="'component.choose_nickname.description.nickname_input' | translate"
           [placeholder]="'component.choose_nickname.enter_nickname_here' | translate"
           autofocus
           class="rounded-left border-0 py-1 px-2 w-100"
           maxlength="20"
           type="text"/>
    <button (click)="joinQuiz()"
            [disabled]="!nickname"
            class="btn btn-success text-nowrap">
      <span *ngIf="!isLoggingIn">{{'component.name_management.join_session' | translate}}</span>
      <ng-container *ngIf="isLoggingIn">
        <span class="mr-1">{{'global.please-wait' | translate}}</span>
        <fa-icon [icon]="'spinner'"
                 [spin]="true"></fa-icon>
      </ng-container>
    </button>
  </div>
  <ngb-alert *ngIf="failedLoginReason"
             [dismissible]="false"
             [type]="'danger'"
             class="mt-5">
    <span>{{failedLoginReason | translate}}</span>
  </ngb-alert>
</div>
