<div class="center-vertical d-flex justify-content-center flex-column">
  <div class="btn-group w-100">
    <input (keyup.enter)="joinQuiz()"
           [attr.aria-label]="'component.choose_nickname.description.nickname_input' | translate"
           [attr.data-intro]="'component.choose_nickname.description.nickname_input' | translate"
           [placeholder]="'component.choose_nickname.enter_nickname_here' | translate"
           autofocus
           class="rounded-left border-0 py-1 px-2 w-100"
           id="input-nickname"
           maxlength="20"
           type="text"/>
    <button (click)="joinQuiz()"
            class="btn btn-success text-nowrap">
      <span *ngIf="!isLoggingIn">{{'component.name_management.join_session' | translate}}</span>
      <ng-container *ngIf="isLoggingIn">
        <span class="mr-1">{{'global.please-wait' | translate}}</span>
        <fa-icon [icon]="'spinner'"
                 [spin]="true"></fa-icon>
      </ng-container>
    </button>
  </div>
  <div *ngIf="failedLoginReason"
       class="border border-danger rounded p-5 m-5 text-center text-uppercase"
       style="border-width: 3px;">
    <span>{{failedLoginReason | translate}}</span>
  </div>
</div>
