<div class="text-light">
  <p class="card-text">Questions:</p>
  <ul>
    <li *ngFor="let question of quiz?.questionList">
      <span>Type: {{question.TYPE}}</span>
      <p class="card-text">Answers:</p>
      <ul>
        <li *ngFor="let answers of question.answerOptionList">
          <span>Answer Text: {{answers.answerText}}</span><br/>
          <span>Is Correct: {{answers.isCorrect}}</span><br/>
          <span>Type: {{answers.TYPE}}</span><br/>
        </li>
      </ul>
      <span>Display Answer Text: {{question.displayAnswerText}}</span><br/>
      <span>Multiple Selection Enabled: {{question.multipleSelectionEnabled}}</span><br/>
      <span>Show One Answer Per Row: {{question.showOneAnswerPerRow}}</span><br/>
      <span>Timer: {{question.timer}}</span><br/>
      <span>Question Text: {{question.questionText}}</span>
    </li>
  </ul>
  <p class="card-text">Music Config</p>
  <p class="card-text">Lobby</p>
  <ul>
    <li>Enabled: {{quiz?.sessionConfig.music.enabled.lobby}}</li>
    <li>Title: {{quiz?.sessionConfig.music.titleConfig.lobby}}</li>
    <li>Volume: {{quiz?.sessionConfig.music.volumeConfig.lobby}}</li>
  </ul>
  <p class="card-text">Countdown Running</p>
  <ul>
    <li>Enabled: {{quiz?.sessionConfig.music.enabled.countdownRunning}}</li>
    <li>Title: {{quiz?.sessionConfig.music.titleConfig.countdownRunning}}</li>
    <li>Volume: {{quiz?.sessionConfig.music.volumeConfig.countdownRunning}}</li>
  </ul>
  <p class="card-text">Countdown End</p>
  <ul>
    <li>Enabled: {{quiz?.sessionConfig.music.enabled.countdownEnd}}</li>
    <li>Title: {{quiz?.sessionConfig.music.titleConfig.countdownEnd}}</li>
    <li>Volume: {{quiz?.sessionConfig.music.volumeConfig.countdownEnd}}</li>
  </ul>
  <p class="card-text">Nick Config</p>
  <p>Member Groups:</p>
  <ul>
    <li *ngFor="let group of quiz?.sessionConfig.nicks.memberGroups">
      <span>Name: {{group.name}}</span>
    </li>
  </ul>
  <ul>
    <li>Max Members Per Group: {{quiz?.sessionConfig.nicks.maxMembersPerGroup}}</li>
    <li>Automatically join to Group: {{quiz?.sessionConfig.nicks.autoJoinToGroup}}</li>
    <li>Selected Nicks: {{quiz?.sessionConfig.nicks.selectedNicks}}</li>
    <li>Block Illegal Nicks: {{quiz?.sessionConfig.nicks.blockIllegalNicks}}</li>
    <li>Restrict to CAS Login: {{quiz?.sessionConfig.nicks.restrictToCasLogin}}</li>
  </ul>
  <p class="card-text">Session Config</p>
  <ul>
    <li>Reading-Confirmation enabled: {{quiz?.sessionConfig.readingConfirmationEnabled}}</li>
    <li>Confidence-Slider enabled: {{quiz?.sessionConfig.confidenceSliderEnabled}}</li>
    <li>Show response progress: {{quiz?.sessionConfig.showResponseProgress}}</li>
    <li>Theme: {{quiz?.sessionConfig.theme}}</li>
  </ul>
</div>