@import "styles_vendor";

$font: Roboto, Roboto-Regular, Helvetica, Arial, sans-serif !important;
$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

@import "assets/themes/themeSwitcher";

body {
  font-family: $font;
  height: 100%;
}

input, .footerElement {
  outline: none;
}

#theme-wrapper {
  z-index: 1000;
}

.text-bold {
  font-weight: bold;
}

.center-vertical {
  height: 100%;
  align-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.relative {
  position: relative;
}

button:disabled {
  cursor: not-allowed !important;
}

img[alt="emoji"] {
  height: 24px;
  width: 24px;
}

#header {
}

#content {
}

#footer {
}

.hidden {
  display: none;
}

/*
Credits: https://ihatetomatoes.net/create-custom-preloading-screen/
*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    z-index: 1000;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */

    &.section-left {
      left: 0;
    }

    &.section-right {
      right: 0;
    }
  }

  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;

      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;

      -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg); /* IE 9 */
      transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg); /* IE 9 */
      transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg); /* IE 9 */
      transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg); /* IE 9 */
      transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
  }
}

@mixin placeholder-align-center {
  text-align: center;
  padding: 1.5rem 0;
  line-height: 1;
}

.placeholder-align-center {

  &::-webkit-input-placeholder {
    @include placeholder-align-center;
  }
  &:-moz-placeholder {
    @include placeholder-align-center;
  }
  &::-moz-placeholder {
    @include placeholder-align-center;
  }
  &:-ms-input-placeholder {
    @include placeholder-align-center;
  }
}
