<div class="row" id="quizManager">
  <div class="col-12">
    <div id="quizSummaryHeader" class="quizSummary margin-title" role="list"
         [attr.data-intro]="'component.quiz_summary.description.header' | translate"
         [attr.aria-label]="'component.quiz_summary.description.header' | translate">
      <p role="listitem">
        <span [innerHTML]="'component.quiz_summary.quiz_name' | translate"></span>&#58;&nbsp;
        <span [innerHTML]="questionGroupItem.hashtag"></span>
      </p>
      <p role="listitem"
         id="quizSummarySessionUrl"
         [attr.data-intro]="'component.quiz_summary.description.session_url' | translate"
         [attr.aria-label]="'component.quiz_summary.description.session_url' | translate">
        <span [innerHTML]="'component.quiz_summary.quiz_url' | translate"></span>
        <span id="sessionUrl" [innerHTML]="document.location.origin + '/quiz/' + questionGroupItem.hashtag"></span>
      </p>
      <div class="overflow-wrapper"
           [class.overflow-active]="showMoreOrLess.indexOf('more') > -1"
           (click)="switchShowMoreOrLess()">
        <p role="listitem">
          <span [innerHTML]="'component.quiz_summary.question_amount' | translate"></span>&#58;&nbsp;
          <span [innerHTML]="questionGroupItem.questionList.length"></span>
        </p>
        <p role="listitem"
           id="quizSummaryQuestionGroupValidation"
           [attr.data-intro]="'component.quiz_summary.description.question_group_validation' | translate"
           [attr.aria-label]="'component.quiz_summary.description.question_group_validation' | translate">
          <span [innerHTML]="'component.quiz_summary.validation_question_group' | translate"></span>&#58;&nbsp;
          <span [class]="questionGroupItem.isValid() ? 'success' : 'failed'"
                [innerHTML]="('component.quiz_summary.question_group_' + (questionGroupItem.isValid() ? 'successful' : 'failed')) | translate"></span>
        </p>
        <p role="listitem" *ngIf="questionGroupItem.sessionConfig.nicks.selectedNicks.length === 0">
          <span [innerHTML]="'component.quiz_summary.isRestrictingRudeNicks' | translate"></span>&#58;&nbsp;
          <span [innerHTML]="('global.' + questionGroupItem.sessionConfig.nicks.blockIllegalNicks) | translate"></span>
        </p>
        <p role="listitem"
           id="quizSummaryRestrictToCas"
           [attr.data-intro]="'component.quiz_summary.description.restrict_to_cas' | translate"
           [attr.aria-label]="'component.quiz_summary.description.restrict_to_cas' | translate">
          <span [innerHTML]="'component.quiz_summary.isRestrictingToCAS' | translate"></span>&#58;&nbsp;
          <span [innerHTML]="('global.' + questionGroupItem.sessionConfig.nicks.restrictToCasLogin) | translate"></span>
        </p>
        <p role="listitem">
          <span [innerHTML]="'component.quiz_summary.selected_nicks' | translate"></span>&#58;&nbsp;
          <span *ngIf="!questionGroupItem.sessionConfig.nicks.selectedNicks.length" [innerHTML]="'component.quiz_summary.no_selected_nicks' | translate"></span>
          <span *ngIf="questionGroupItem.sessionConfig.nicks.selectedNicks.length"
                [innerHTML]="questionGroupItem.sessionConfig.nicks.selectedNicks.length"></span>
        </p>
        <p role="listitem" [innerHTML]="questionGroupItem.sessionConfig.nicks.selectedNicks.join(', ')"></p>
      </div>
      <p class="overflow-wrapper-label" [innerHTML]="showMoreOrLess | translate"></p>
    </div>
  </div>
  <div class="col-12">
    <h2 class="text-light mt-4" [innerHTML]="'component.quiz_manager.available_questions_title' | translate"></h2>
    <div class="overflow-auto available-questions-view-frame">
      <div class="btn-group" id="available_questions_wrapper"
           [attr.data-intro]="'component.quiz_manager.description.available_questions' | translate">
        <button *ngFor="let elem of selectableQuestionTypes"
                (click)="addQuestion(elem.id)"
                [id]="elem.id + '_draggable'"
                [class]="'btn btn-info mr-2 pointer questionElementWrapper draggable d-flex justify-content-center align-items-center questionType_' + elem.id"
                [attr.data-intro]="elem.descriptionType | translate"
                [innerHTML]="elem.translationName | translate">
        </button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h2 class="text-light mt-4"
        [innerHTML]="'component.quiz_manager.added_questions_title' | translate"></h2>
    <h4 class="text-light"
        *ngIf="!questionGroupItem.questionList.length"
        [innerHTML]="'component.quiz_manager.no_added_questions' | translate"></h4>
    <ul id="added_questions_wrapper"
        [attr.data-intro]="'component.quiz_manager.description.added_questions' | translate">
      <li *ngFor="let elem of questionGroupItem.questionList; let i = index;"
          [id]="i + '_draggable'"
          [class]="'questionElementWrapper draggable d-flex justify-content-center align-items-center questionType_' + i">
        <span [innerHTML]="elem.translationReferrer() | translate"></span>
        <span class="questionButtonOptions text-right">
          <i *ngIf="i" (click)="moveQuestionUp(i)" class="fa fa-arrow-up"></i>
          <i *ngIf="i !== questionGroupItem.questionList.length - 1" (click)="moveQuestionDown(i)" class="fa fa-arrow-down"></i>
          <i [routerLink]="['/quiz', 'manager', i,  'overview']" class="fa fa-pencil"></i>
          <i (click)="deleteQuestion(i)" class="fa fa-trash"></i>
        </span>
      </li>
    </ul>
  </div>
</div>
