@import "../../../../styles_vendor";

h3 {
  margin-bottom: 20px;
}
#countdownRunningSelect,
#lobbySoundSelect,
#countdownEndSelect {
  width: 100%;
  height: 46px;
  padding: 0 10px;
  outline: none;
  margin-bottom: 20px;
}

.collapse {
  .card {
    background: transparent;
  }
}
