<div (scrolled)="onScrollDown()"
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     infinite-scroll>

  <ng-container *ngIf="(languageLoaderService.parsedLangData | unusedKeyFilter:unusedKeyFilter | filterKeys:filter | searchFilter:searchFilter | sort) as results">
    <div *ngFor="let elem of results | justafew:visibleData"
         [class.bg-warning]="selectedKey === elem.key"
         class="p-2 cursor-pointer d-flex"
         (click)="selectKey(elem.key)">
      <fa-icon *ngIf="hasEmptyKeys(elem)"
               [icon]="'exclamation-triangle'"
               [ngbPopover]="'This key has empty translations'"
               [placement]="'right'"
               class="text-danger rounded-pill bg-secondary empty-translation-icon text-center position-absolute"
               triggers="hover"></fa-icon>
      <p [class.ml-35px]="hasEmptyKeys(elem)"
         [title]="elem.key"
         class="text-truncate w-100">{{elem.key}}</p>
      <fa-icon (click)="removeKey(elem.key, $event)"
               *ngIf="selectedKey === elem.key"
               [icon]="'trash'"
               class="ml-auto cursor-pointer"></fa-icon>
    </div>

    <h5 *ngIf="results.length === 0"
        class="mt-5 text-warning text-center w-100 position-absolute"
        style="top: 0;">
      No data could be mapped to the specified filter.
    </h5>
  </ng-container>
</div>
