<div infinite-scroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()">

  <ng-container *ngIf="(languageLoaderService.parsedLangData | unusedKeyFilter:unusedKeyFilter | filterKeys:filter | searchFilter:searchFilter | sort) as results">
    <div *ngFor="let elem of results | justafew:visibleData"
         class="p-2 cursor-pointer d-flex"
         [class.bg-warning]="selectedKey === elem.key"
         (click)="selectKey(elem.key)">
      <fa-icon *ngIf="hasEmptyKeys(elem)"
               class="text-danger mr-2"
               [icon]="'exclamation-triangle'"></fa-icon>
      <span class="text-truncate"
            [title]="elem.key">{{elem.key}}</span>
      <fa-icon *ngIf="selectedKey === elem.key"
               class="ml-auto cursor-pointer"
               (click)="removeKey(elem.key)"
               [icon]="'trash'"></fa-icon>
    </div>

    <h5 *ngIf="results.length === 0"
        class="mt-5 text-warning text-center w-100 position-absolute"
        style="top: 0;">
      No data could be mapped to the specified filter.
    </h5>
  </ng-container>
</div>
