<div class="row">
  <div class="col-12"
       [attr.data-intro]="'component.answeroptions.description.range_area' | translate"
       [attr.aria-label]="'component.answeroptions.description.range_area' | translate">
    <div class="row">
      <div class="col-12 col-md-4"
           [attr.data-intro]="'component.answeroptions.description.min_range' | translate">
        <h3 [innerHTML]="'component.answeroptions.ranged_question.min_range' | translate"></h3>
        <input type="number"
               [attr.aria-label]="'component.answeroptions.description.min_range' | translate"
               id="minRangeInput"
               class=""
               step="any"
               min="0"
               [value]="minRange"
               (input)="updateMinRange($event)"
               (propertychange)="updateMinRange($event)"
               [placeholder]="'component.answeroptions.ranged_question.min_range' | translate"/>
      </div>
      <div class="col-12 col-md-4"
           [attr.data-intro]="'component.answeroptions.description.correct_value' | translate">
        <h3 [innerHTML]="'component.answeroptions.ranged_question.correct_value' | translate"></h3>
        <input type="number"
               [attr.aria-label]="'component.answeroptions.description.correct_value' | translate"
               id="correctValueInput"
               class=""
               step="any"
               min="0"
               [value]="correctValue"
               (input)="updateCorrectValue($event)"
               (propertychange)="updateCorrectValue($event)"
               [placeholder]="'component.answeroptions.ranged_question.min_range' | translate"/>
      </div>
      <div class="col-12 col-md-4"
           [attr.data-intro]="'component.answeroptions.description.max_range' | translate">
        <h3 [innerHTML]="'component.answeroptions.ranged_question.max_range' | translate"></h3>
        <input type="number"
               [attr.aria-label]="'component.answeroptions.description.max_range' | translate"
               id="maxRangeInput"
               class="input-field"
               step="any"
               min="0"
               [value]="maxRange"
               (input)="updateMaxRange($event)"
               (propertychange)="updateMaxRange($event)"
               placeholder="'component.answeroptions.ranged_question.max_range' | translate"/>
      </div>
    </div>
  </div>
  <div class="col-12"
       [attr.data-intro]="'component.answeroptions.description.range_slider' | translate"
       [attr.aria-label]="'component.answeroptions.description.range_slider' | translate">
    <div id="rangedSlider"
         role="slider"
         class=""></div>
  </div>
</div>
