@import "styles_vendor";

$font: Roboto, Roboto-Regular, Helvetica, Arial, sans-serif !important;
$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

@import "assets/themes/themeSwitcher";

body {
  font-family: $font;
  height: 100%;
  background-color: transparent;
}

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  outline: none !important;
}

.qrCodeContent {
  top: calc(50% - 25vh);

  img {
    height: 50vh !important;
    width: 50vh !important;
  }
}

#theme-wrapper {
  z-index: 1000;
}

.w-50px {
  width: 50px;
}

p {
  margin: 0;

  img {
    max-width: 100%;
    max-height: 50vh;
  }
}

.text-bold {
  font-weight: bold;
}

.text-hyphen {
  hyphens: auto;
}

.center-top {
  height: 40vh;
  align-content: center;
  align-items: center;
}

.center-vertical {
  height: 100%;
  align-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.relative {
  position: relative;
}

button:disabled {
  cursor: not-allowed !important;
}

img[alt*="emoji_"] {
  height: 24px;
  width: 24px;
}

#header {
}

#content {
}

#footer {
}

@mixin placeholder-align-center {
  text-align: center;
  padding: 1.5rem 0;
  line-height: 1;
}

.placeholder-align-center {

  &::-webkit-input-placeholder {
    @include placeholder-align-center;
  }
  &:-moz-placeholder {
    @include placeholder-align-center;
  }
  &::-moz-placeholder {
    @include placeholder-align-center;
  }
  &:-ms-input-placeholder {
    @include placeholder-align-center;
  }
}
