@import "variables";

@each $theme, $map in $themes {
  html[data-theme=#{$theme}] {
    #loader-wrapper {
      #loader {
        border: 3px solid transparent;
        border-top-color: map-get($map, "border-loader_wrapper-outer_spin");
        &:before {
          content: ' ';
          border: 3px solid transparent;
          border-top-color: map-get($map, "border-loader_wrapper-inner_spin");
        }
        &:after {
          content: ' ';
          border: 3px solid transparent;
          border-top-color: map-get($map, "border-loader_wrapper-middle_spin");
        }
      }
    }
  }
}