<div class="row">
  <div class="col-12">
    <h4>{{'component.membergroup-manager.title' | translate}}</h4>

    <div class="row">
      <div class="col-12 col-sm-5">
        <form>
          <div class="form-group">
            <label for="max-users-per-group">{{'component.membergroup-manager.max-users' | translate}}</label>
            <input type="number"
                   class="form-control form-control-sm"
                   id="max-users-per-group"
                   [placeholder]="'component.membergroup-manager.max-users' | translate"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="maxMembersPerGroup"/>

          </div>
        </form>
      </div>

      <div class="col-12 col-sm-7 mb-2">
        <label class="d-block">{{'component.membergroup-manager.autojoin-to-team' | translate}}</label>
        <button class="btn btn-sm cursor-pointer mb-0"
                [attr.aria-label]="'component.answeroptions.description.is_correct' | translate"
                [class.btn-success]="autoJoinToGroup"
                [class.btn-danger]="!autoJoinToGroup"
                (click)="autoJoinToGroup = !autoJoinToGroup"
                [title]="'component.answeroptions.is_correct' | translate">
          <span *ngIf="autoJoinToGroup">{{'global.yes' | translate}}</span>
          <span *ngIf="!autoJoinToGroup">{{'global.no' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="input-group input-group-sm">
      <input type="text"
             class="form-control mb-2 mb-sm-0"
             [placeholder]="'component.membergroup-manager.create-team-placeholder' | translate"
             (keyup.enter)="addMemberGroup()"
             [(ngModel)]="memberGroupName"
             [attr.aria-label]="'component.membergroup-manager.create-team-placeholder' | translate"
             aria-describedby="add-member-group">

      <div class="input-group-append">
        <button class="btn btn-success"
                id="add-member-group"
                (click)="addMemberGroup()"
                [class.disabled]="memberGroupExists() || !memberGroupName.length"
                [disabled]="memberGroupExists() || !memberGroupName.length">
          <span>{{'component.membergroup-manager.create-team' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="mt-3">
      <p [innerHTML]="'component.answeroptions.emoji_info' | translate"
         class="d-flex justify-content-center align-items-center"></p>
    </div>

    <h6 class="mt-3">{{'component.membergroup-manager.current-teams' | translate}}</h6>

    <p *ngIf="!memberGroups.length">{{'component.membergroup-manager.no-current-teams' | translate}}</p>

    <ul class="list-unstyled row form-row">
      <li *ngFor="let group of memberGroups"
          class="col-md-6 mb-2 d-flex">
        <div class="card flex-grow-1">
          <div class="card-body d-flex flex-column">
            <h6 class="d-flex align-items-center">
              <span>Name des Teams:</span>
              <button class="btn btn-sm btn-secondary ml-auto" (click)="removeMemberGroup(group.name)">
                <fa-icon [icon]="'trash'"></fa-icon>
              </button>
            </h6>
            <div class="mb-auto" [innerHTML]="parseNickname(group.name)"></div>
            <hr class="w-100"/>

            <h6>Wähle eine Farbe:</h6>
            <div class="justify-content-between rounded bg-body p-2">
              <div class="form-row">
                <div *ngFor="let color of groupColors"
                     class="col-6 col-sm-3 col-lg-2 mb-1">
                  <button [disabled]="group.color === color || hasGroupColorSelected(color)"
                          class="btn btn-sm color-picker"
                          [style.border-color]="color"
                          [style.background-color]="group.color !== color && !hasGroupColorSelected(color) ? color : 'transparent'"
                          (click)="group.color = color">
                    <fa-icon *ngIf="group.color === color" [icon]="'check'"></fa-icon>
                    <fa-icon *ngIf="group.color !== color && hasGroupColorSelected(color)" [icon]="'times'"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
