@import "~bootstrap/scss/functions";
@import "variables";

*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: $font;
  height: 100%;
  background-color: transparent;
}

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  outline: none !important;
}

.qrCodeContent {
  top: calc(50% - 25vh);

  img {
    height: 50vh !important;
    width: 50vh !important;
  }
}

#theme-wrapper {
  z-index: 1000;
}

p {
  margin: 0;

  img {
    max-width: 100%;
    max-height: 50vh;
  }
}

img[alt*="emoji_"] {
  height: 24px;
  width: 24px;
}
