<h5 class="mb-3">{{'component.liveResults.question_number' | translate}}&nbsp;{{questionIndex + 1}}</h5>

<app-voting-question *ngIf="questionText && quizService?.currentQuestion()?.questionText"
                     [questionText]="questionText"
                     [tags]="quizService?.currentQuestion()?.tags"></app-voting-question>

<button (click)="confirmReading()"
        class="btn btn-light btn-block mt-5">
  <fa-icon [icon]="'paper-plane'"></fa-icon>
  {{'component.liveResults.confirm_read' | translate}}
</button>
